<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="footer__oxford-group">
					<img src="/arquivos/footer__oxford-group--checkout.png" />
				</div>
			</div>
			<div class="col-sm-3">
				<!-- Contact -->
				<dl class="footer__menu">
					<dt class="footer__menu__title footer-title">Atendimento</dt>
					<dd class="footer__menu__item footer__menu__item--phone"><a>(47) 3631-3003</a></dd>
					<dd class="footer__menu__item footer__menu__item--email"><a>atendimento@oxfordporcelanas.com.br</a></dd>
					<dd class="footer__menu__item footer__menu__item--hour">Seg./Qui. - 7h30 às 17h30</dd>
					<dd class="footer__menu__item footer__menu__item--hour">Sex. - 7h30 às 16h30</dd>
				</dl>
				<!-- /Contact -->
			</div>
			<div class="col-sm-3">
				<!-- Payment -->
				<dl class="footer__flags footer__payment">
					<dt class="footer__flags__title footer-title">Formas de pagamento</dt>
					<dd class="footer__flags__item footer__payment__item footer__payment__item--flags"></dd>
				</dl>
				<!-- /Payment -->
			</div>
			<div class="col-sm-3">
				<!-- Security -->
				<dl class="footer__flags footer__security">
					<dt class="footer__flags__title footer-title"></dt>
					<dd class="footer__flags__item footer__security__item footer__security__item--lets-encrypt"></dd>
				</dl>
				<!-- /Security -->
			</div>
		</div>
	</div>
</footer>