<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="header__logo">
					<a href="/"><img class="img-responsive" src="/arquivos/header__logo--checkout.jpg" /></a>
				</h1>
			</div>
		</div>
	</div>
</header>