body.account {
	&:after {
		content: '';
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/arquivos/loading__ajax-loader--white.gif') center center no-repeat #FFF;
	}

	&.loaded {
		&:after {
			display: none;
		}
	}
}

.account__main {
	margin-bottom: 40px;

	.title {
		margin-top: 20px;
	}

	span.title {
		text-align: left;
	    font-size: 12px;
	    padding: 0;
	    border: 0;
	    font-weight: 400;
	}

	.modal-header {
		padding-bottom: 0;
	}

	h4 {
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}

	h5 {
		font-size: 15px;
	}

	a {
		color: #000;
		text-decoration: underline;
		outline: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	select,
	textarea {
		width: 100%;
		color: #000;
		border: 1px solid #cccccc;
		padding: 8px 13px;
		height: 40px;
		font-size: 11px;
	}

	.btn {
		@extend .btn-danger;
		outline: none !important;
	}

	.control-label {
		font-size: 14px;
		margin-top: 15px;
	}

	.radio {
		margin-top: 0;
		padding-left: 20px;
		cursor: pointer;
		float: left;
		font-size: 11px;
		position: relative;
		line-height: 22px;

		&.gender-female-label {
			margin-left: 25px;
		}
	}

	.edit-profile-link,
	.new-address-link {
		margin: 20px 0;
	}

	.form-business-data-name {
		@extend .text-center;
		margin-top: 20px;
	}

	.account__header {
		background-color: #000;
		background-position-x: center;
		width: auto;

		h1 {
			font-size: 40px;
			color: #fff;
			margin: 0;
			height: 151px;
			text-transform: uppercase;
			display: table-cell;
			vertical-align: middle;
		}

	}

	#response-message {
		margin-top: 50px;
		opacity: 1 !important;

		h4 {
			text-align: center;
			margin: 0px;
			color: green;
		}
	}

	#address-edit,
	#address-remove, {
		h4	{
			text-align: center;
			margin-top: 20px;
			color: green;
			background: #ffffff;
			display: block;
			width: 320px;
			width: 598px;
			padding: 20px;
			left: 50%;
			position: absolute;
			margin-left: -160px;
			margin-left: -299px;
		}
	}

	#address-remove {
		text-align: center;
	}

	.profile-detail-form {
		h5 {
			font-size: 20px;
		}
	}

	.profile-detail-display {
		margin-bottom: 20px;
	}

	.profile-detail-form-personal-data,
	.profile-detail-form-business-data {
		margin-left: 5px;
		margin-right: 5px;
	}

	.profile-detail-form-contact-data {
		margin-left: 0px;
		margin-right: 0px;

		h5 {
			margin-top: 30px;
		}

		.form-contact-data-email {
			@extend .col-sm-12;
		}

		.form-contact-data-telephone,
		.form-contact-data-cellphone {
			@extend .col-sm-6;
		}
	}

	#editar-perfil {
		h3 {
			font-size: 25px;
			margin-top: 0;
			font-weight: $font-weight-bold;
		}
	}

	h3.address-label {
		margin-bottom: 0;
		font-size: 25px;
		margin-top: 0;
		font-weight: $font-weight-bold;
	}

	.address-form {
		.row {
			margin-left: 0px;
			margin-right: 0px;
		}

		.address-form-street-name,
		.address-form-number {
			@extend .col-sm-12;
		}

		.address-form-complement,
		.address-form-state,
		.address-form-city,
		.address-form-reference {
			@extend .col-sm-6;
		}
	}

	.address-form-neighborhood,
	.address-form-addressee label,
	.address-form-addressee .controls,
	.address-form-cep label,
	.address-form-cep .controls,
	.address-form-address-type label,
	.address-form-address-type .controls {
		margin-left: 15px;
		margin-right: 15px;
	}

	.address-display {
		margin-left: 0;
		margin-right: 0;
	}

	.address-display-unit {
		margin-bottom: 30px;
	}

	#accountAjaxBusy {
		background: #000;
		color: #fff;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -115px;
		display: block;
		padding: 20px 30px;
		width: 230px;
		text-align: center;
	}

	.well {
		background-color: #fff;
	}

	.save-cancel-buttons {
		.btn-link {
			display: none;
		}
	}

	.form-business-data-name {
		display: none;
	}
}

@media (max-width: $screen-xs-max) {
	.account__main {
		.title {
			margin-bottom: 0;
		}

		#address-edit,
		#address-remove, {
			h4	{
				margin-left: -150px;
				width: 300px;
				font-size: 18px;
			}
		}

		.well {
			margin-top: 40px;
		}
	}
}