.breadcrumb {
	padding: 6px 0;

	ul {
		li {
			display: inline-block;

			a {
				color: #000;
				font-size: 10px;
				line-height: 10px;
				text-transform: uppercase;
			}

			&:after {
				content: '';
				display: inline-block;
				margin: 0 10px 0 15px;
				@extend .sprite-general-breadcrumb-arrow;
			}

			&:first-child{
				a {
					font-size: 0;

					&:after{
						content: 'Home';
						display: inline-block;
						font-size: 10px;
						color: #000;
						margin: 0;
					}
				}
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}

	.busca-texto-livre-elimina {
		color: $brand-danger;
	}
}