
.search__main {
	.search__banner-main {
		img {
			width: 100%;
			@extend .img-responsive;
		}
	}

	.search__title {
		display: none;
	    position: relative;
	    top: -15px;
	    text-transform: uppercase;
	    font-size: 14px;
	    text-align: center;
	}
}

@media (max-width: $screen-sm-max) {
	.search__main {
		.drop-open,
		.order-by {
			margin-top: 15px;
		}

		.search__title {
		    top: 0px;
			margin: 15px 0 20px
		}
	}
}

@media (max-width: $screen-xs-max) {
	.search__main {
		.main__header {
			.col-xs-6:nth-child(2) {
				padding-right: 7.5px;
			}

			.col-xs-6:nth-child(3) {
				padding-left: 7.5px;
			}
		}
	}
}