.search-empty {
	.search-empty__content {
		padding: 70px 0;
		text-align: center;
		background: url("/arquivos/search-empty-bg.jpg") no-repeat center;

		.search-empty__title {
			font-size: 30px;
			font-weight: $font-weight-bold;
			line-height: 36px;
			text-transform: uppercase;
		}

		.search-empty__description {
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
		}
	}
}