.collection {
	&.collection--carousel {
		margin-bottom: 50px;
	}
}

@media (max-width: $screen-sm-max) {
	.collection {
		&.collection--carousel {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.collection {
		&.collection--carousel {
			margin-bottom: 0px;

			.shelf__product-item {
				margin-bottom: 15px;
			}
		}
	}
}