.drop-container {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .6);

    .drop-container__content {
        position: relative;
        height: auto;
        -webkit-overflow-scrolling: touch;

        &:before,
        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            content: '';
        }

        &:before { left: -100%; }
        &:after  { right: -100%; }
    }

    .drop-container__content__fixed-top {
        position: fixed;
        z-index: 2;
        height: auto;
    }

    .drop-container__content__scroll {
        position: fixed;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
    }

    .drop-container__content__fixed-bottom {
        position: fixed;
        z-index: 2;
        bottom: 0;
        height: auto;
    }

    &.drop-container--scroll-left {
        &.open {
            .drop-container__content {
                > div { left: 0; }
            }
        }

        .drop-container__content {
            > div {
                @include transition(left, .3s);
                left: -100%;
                width: 265px;
            }
        }
    }

    &.drop-container--scroll-right {
        &.open {
            .drop-container__content {
                > div { right: 0; }
            }
        }

        .drop-container__content {
            > div {
                @include transition(right, .3s);
                right: -100%;
                width: 265px;
            }
        }
    }

    &.drop-container--scroll-top {
        &.open {
            .drop-container__content {
                > div { top: 0; }
            }
        }

        .drop-container__content {
            > div {
                @include transition(top, .3s);
                top: -640px;
            }
        }
    }
}

@import "_drop--custom.scss";