.drop-container {
    // Main Menu
    &.drop-container--menu {
        top: 0;

        .drop-container__content__fixed-top {
            background: #000;

            .header__search--mobile {
                display: none;
            }
        }

        .drop-container__content__scroll {
            width: 100%;
        }

        &.open {
            .drop-container__content {
                > div {
                    top: 70px;
                    height: auto !important;
                    max-height: 100%;
                    padding-bottom: 70px;
                }
            }
        }
    }

    // Sidebar
    &.drop-container--filter {
        z-index: 201;

        .drop-container__content__scroll {
            background: #e7e7e7;
        }
    }
}