@font-face {
  font-family: 'Montserrat-Light';
  src: url('/arquivos/Montserrat-Light-eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/Montserrat-Light-otf.css') format('opentype'),
        url('/arquivos/Montserrat-Light-woff.css') format('woff'),
        url('/arquivos/Montserrat-Light-ttf.css')  format('truetype'),
        url('/arquivos/Montserrat-Light-svg.css#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}