.footer__flags {
	.footer__flags__title {
		margin-bottom: 3px;
	}

	.footer__flags__item {
		display: inline-block;

		a {
			display: inline-block;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer__flags {
		.footer__flags__title {
			margin-top: 5px;
		}
	}
}