.footer__social-icons {
	.footer__social-icons__item {
		display: inline-block;
		margin: 0 4px;

		a {
			text-align: center;
			background: #000;
			display: block;
			color: #fff;
			width: 32px;
			height: 32px;
			line-height: 32px;
			font-size: 22px;
		}

		&.footer__social-icons__item--facebook {
			margin-left: 0;
		}
	}
}

@media (min-width: $screen-md-min) {
	.footer__social-icons {
		margin: 0 -15px;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer__social-icons {
		margin-top: 25px;
	}
}

@media (max-width: $screen-xs-max) {
	.footer__social-icons {
		margin-bottom: 30px;
	}
}