.footer__credits {
	margin-top: 13px;
	float: right;

	.footer__credits__item {
		display: inline-block;

		a {
			display: inline-block;
		}

		&.footer__credits__item--avanti a {
			margin-right: 12px;
			position: relative;
			@extend .sprite-general-footer__credits__item--avanti;

			&:after {
				content: '';
				display: inline-block;
				width: 1px;
				height: 35px;
				background: #d1d9d9;
				position: absolute;
				top: -4px;
				right: -12px;
			}
		}

		&.footer__credits__item--vtex a {
			margin-left: 11px;
			@extend .sprite-general-footer__credits__item--vtex;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer__credits {
    	margin-top: -81px;
	}
}

@media (max-width: $screen-xs-max) {
	.footer__credits {
    	margin-top: 20px;
    	text-align: center;
    	float: none;
	}
}