.footer__menu {
	.footer__menu__item {
		font-size: 12px;
		line-height: 16px;
		color: #000;

		a {
			color: #000;
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.footer__menu {
		.footer__menu__item {
			font-size: 10px;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer__menu {
		.footer__menu__item {
			line-height: 20px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer__menu {
		.footer__menu__item {
			font-size: 10px;
			line-height: 20px;

			&.footer__menu__item--phone {
				font-size: 16px;
			}
		}
	}
}