.footer__security {
	.footer__security__item {
		&.footer__security__item--lets-encrypt {
			margin: 8px 0 0 47px;
			display: block;

			@extend .sprite-general-footer__security__item--lets-encrypt;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer__security {
		.footer__security__item {
			&.footer__security__item--lets-encrypt {
				margin: 10px 0 0 0;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer__security {
		.footer__security__item {
			&.footer__security__item--lets-encrypt {
				margin: 15px auto;
			}
		}
	}
}