.footer {
	.footer-title {
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}

	.footer__top {
		padding: 25px 0 30px;
		background: #fff url(/arquivos/footer-bg--desktop.jpg) no-repeat bottom right;
		background-size: auto 100%;
	}

	.footer__bottom {
		padding: 15px 0;
		border-top: 2px solid #000;
	}

	.footer__oxford-group {
		a {
			color: #000;
			text-transform: uppercase;

			.footer__oxford-group__title-block {
				display: block;
				font-size: 11px;
				font-weight: $font-weight-regular;
				background: #efefef;
				padding: 0 15px;
			    width: 121px;
			    height: 28px;
			    line-height: 28px;
			}

			.footer__oxford-group__title {
				display: block;
				font-size: 16px;
				font-weight: $font-weight-bold;
				margin-left: 15px;
				margin-top: -8px;
			}

			img {
				margin-left: 42px;
				margin-top: 2px;
			}
		}
	}

	.footer__copyright {
		margin-top: 13px;
		font-size: 10px;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer {
		.footer__oxford-group {
			margin-top: 25px;
		}

		.footer__copyright {
			text-align: center;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer {
		.footer-title {
			margin-top: 25px;
			margin-bottom: 12px;
		}

		.footer__top {
			padding-top: 0;
			background: #fff url(/arquivos/footer-bg--mobile.jpg) no-repeat bottom center;
			background-size: auto;
		}

		.footer__oxford-group {
			a {
				display: block;
				width: 155px;
				margin: 0 auto;
			}
		}

		.footer__copyright {
			text-align: center;
		}
	}
}