#ajaxBusy,
#suport-content,
.suport-content,
{ display: none !important; }

* { outline: none; }

body {
	overflow-x: hidden;
	position: relative;

	+ object {
		display: none;
	}

	&.scroll-lock {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
    cursor: pointer;

	&:hover,
    &:focus { text-decoration: none; }
}

dl {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.static {
	position: static !important;
}

.title:not(span) {
	text-transform: uppercase;
    text-align: center;
    font-size: 24px;
	font-weight: $font-weight-bold;
    margin: 48px 0 0;

    &:after {
    	content: '';
    	display: block;
    	width: 70px;
    	height: 3px;
		background: #000;
		margin: 10px 0 40px -35px;
		position: relative;
		left: 50%;
    }
}

.main__header {
	margin: 25px 0;
}

@media (max-width: $screen-sm-max) {
	.main__header {
		margin: 15px 0;
	}

	.title:not(span) {
		font-size: 20px;
		margin: 30px 0 0;

		&:after {
			margin: 10px 0 20px -35px;
	    }
	}
}

@media (min-width: $screen-lg-min) {
	.clear-lg {
		clear: both;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.clear-md {
		clear: both;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.no-padding-right--sm {
		padding-right: 0 !important;
	}

	.no-padding-left--sm {
		padding-left: 0 !important;
	}
}

@media (max-width: $screen-xs-max) {
	.no-padding-right--xs {
		padding-right: 0 !important;
	}

	.no-padding-left--xs {
		padding-left: 0 !important;
	}

	.title:not(span) {
		&:after {
			margin: 4px 0 10px -35px;
	    }
	}
}