.header__search {
	position: relative;
	margin: 25px 0 0;
    padding: 0;
    width: 100%;

	select,
	label,
	legend {
		display: none;
	}

	.fulltext-search-box {
		@extend .form-control;
		height: 33px;
		padding-left: 45px;
	}

	.btn-buscar {
		position: absolute;
	    top: 3px;
	    left: 3px;
	    border: none;
	    font-size: 0;
	    @extend .sprite-general-header__search--icon;
	}
}

.ui-autocomplete {
    padding: 5px 10px 0 10px;
    border: 1px solid #e6e6ee;
    border-top: none;
    background-color: #fff;
    list-style: none;
    width: 265.75px !important;

    li {
		padding: 5px 0;
        color: #000;
        border-bottom: 1px solid #eee;

        &:last-child {
			border-bottom: none;
        }

    	a {
			color: $text-color;
    	}
    }
}

script {
	+ .ui-autocomplete {
    	width: 364px !important;
	}
}

@media (max-width: $screen-md-max) {
	.ui-autocomplete {
		width: 212.5px !important;
	}

	script {
		+ .ui-autocomplete {
			width: 293.75px !important;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.header__search {
		margin-top: 0;
	}

	.ui-autocomplete {
		display: none !important;
	}
}

@media (max-width: $screen-xs-max) {
	.header__search {
		margin: 0 -15;

		.fulltext-search-box {
			border-left: none;
			border-right: none;
		}
	}
}