.header--fixed {
	padding-top: 0px;
	position: fixed;
	z-index: 10;
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #eee;
	height: 75px;
	top: -76px;
	left: 0;
	@include box-shadow(1px 1px 1px #f6f6f6);
	@include transition(all 0.5s);

	.header__logo {
		margin: 13px 0 0;
		text-align: left;

		img {
			height: 50px;
		}
	}

	.header__search {
		margin-top: 21px;
	}

	.minicart-menu {
		margin-top: 27px;
	}

	.navbar-toggle {
		display: block !important;
		text-align: center;
		width: 85px;
		height: 77px;
		padding-top: 17px;
		font-size: 10px;
		text-transform: uppercase;
		color: #000;
		float: right;
		margin: 0 28px 0 0;

		.icon-bar {
			margin-left: auto;
			margin-right: auto;

			&:nth-child(3) {
			    margin-bottom: 9px;
			}
		}

		&.navbar-toggle--hover {
			background: #000;
			color: #fff;

			.icon-bar {
				background: #fff;
			}
		}
	}

	&.header--fixed--open {
		display: block;
		top: 0;
	}

	&.header--fixed--hover {
		border-bottom: none;
		@include box-shadow(none);
	}
}

.navbar--desktop--fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0px;
	z-index: 9;
	@include transition(all 0.25s);

	.submenu {
		display: none !important;
	}
}

@media (max-width: $grid-float-breakpoint-max) {
	.header--fixed {
		display: none !important;
	}
}