.header {
	padding-top: 5px;
	background: #fff no-repeat top center;

	.header__welcome {
		font-size: 10px;

		a {
			color: #000;
			font-weight: $font-weight-bold;
		}
	}

	.header__logo {
		margin: 0 0 14px;
		text-align: center;
		width: 100%;

		a {
			display: inline-block;
		}
	}

	.menu-account {
		line-height: 10px;

		.menu-account__item {
			display: inline-block;
			line-height: 10px;

			a {
				font-size: 10px;
				color: #000;
				padding: 0 10px;
			}

			&:last-child {
				a {
					padding-right: 0;
				}

				&:before {
					content: '';
					display: inline-block;
					background: #efefef;
					height: 10px;
					width: 1px;
					position: relative;
					top: 2px;
				}
			}
		}
	}

	.minicart-menu {
		color: #fff;
		margin-top: 30px;
		float: right;

		&:before {
			content: '';
			display: inline-block;
			float: left;
			margin-right: 10px;

			@extend .sprite-general-minicart-menu;
		}

		.minicart-count {
		    display: inline-block;
		    text-align: center;
		    padding-left: 5px;
		    font-size: 12px;
		    line-height: 22px;
			@extend .sprite-general-minicart-count;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.header {
		padding-top: 0;

		> .container {
			width: 100%;
		}

		.header__logo {
			margin: 8px 0;
		}

		.minicart-menu {
			margin-top: 25px;
		}

		.header__z-index {
			position: relative;
			z-index: 201;
			background: #fff;
			margin: 0 -15px;
			padding: 0 15px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.header {
		.minicart-menu {
			&:before {
				margin-right: 5px;
			}
		}
	}
}