.home {
	.banner-main {
		text-align: center;
		margin-bottom: 2px;

		.box-banner {
			overflow: hidden;

			img {
				display: inline-block;
				margin-left: -50%;
				margin-right: -50%;
				height: auto;
				width: 100%;
			}
		}

		> .box-banner {
			display: none;

			&:nth-child(1) { display: block; }
		}
	}

	.home__banner-middle {
		img {
			@extend .img-responsive;
		}

		&.home__banner-middle--1 {
			.home__banner-hover {
				@include transition(all .3s);
				@include opacity(0);
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.home {
		.home__banner-middle {
			&.home__banner-middle--1 {
				img {
					max-width: 100%;
					width: auto;
					height: 92px;
				}

				.home__banner-hover {
					margin-top: -92px;
				}

				.col-sm-3:nth-child(1),
				.col-sm-3:nth-child(2),
				.col-sm-3:nth-child(3),
				.col-sm-3:nth-child(4) {
					padding: 1px;
				}
			}

			&.home__banner-middle--2 {
				.row:nth-child(1) {
					margin-bottom: 30px;
				}

				.box-banner {
					overflow: hidden;
				}

				img {
					height: 325px;
					@include transition(all .3s ease-in-out);

    				&:hover {
    					@include transform(scale(1.02));
    				}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.home {
		.home__banner-middle {
			&.home__banner-middle--1 {
				.home__banner-hover {
					&:hover {
						@include opacity(1);
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.home {
		.home__banner-middle {
			&.home__banner-middle--1 {
				img {
					height: 75px;
				}

				.home__banner-hover {
					margin-top: -75px;
				}
			}

			&.home__banner-middle--2 {
				img {
					height: 264px;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.home {
		.home__banner-middle {
			&.home__banner-middle--1 {
				img {
					height: 58px;
				}

				.home__banner-hover {
					display: none;
				}
			}

			&.home__banner-middle--2 {
				img {
					height: 201px;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
	.home {
		.banner-main {
			.box-banner {
				img {
					width: 1300px;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.home {
		.home__banner-middle {
			&.home__banner-middle--1 {
				img {
					width: 100%;
				}

				.home__banner-default {
					display: none;
				}

				.home__banner-hover {
					@include opacity(1);
					margin-top: 10px;
				}

				.col-sm-3:nth-child(1),
				.col-sm-3:nth-child(3) {
					padding-right: 4px;
				}

				.col-sm-3:nth-child(2),
				.col-sm-3:nth-child(4) {
					padding-left: 4px;
				}
			}

			&.home__banner-middle--2 {
				img {
					width: 100%;
					margin: 6px 0;
				}
			}
		}
	}
}
