.institucional {
	.institucional__banner {
		img {
			width: 100%;
			height: auto;
		}
	}

	.breadcrumb {
		margin: 25px 0;
	}

	.institucional__content {
		h1 {
			text-transform: uppercase;
			font-size: 18px;
			margin: 0 0 17px;
		}

		h2 {
			text-transform: uppercase;
			font-size: 14px;
			margin: 17px 0;
		}

		p {
			font-size: 12px;
			margin-bottom: 15px;
		}

		// ul {
		// 	padding-left: 30px;

		// 	li {
		// 		list-style-type: disc;
		// 		margin-bottom: 10px;
		// 		font-size: 13px;
		// 	}
		// }
	}

	.institucional__sidebar {
		.institucional__sidebar__title {
			font-size: 16px;
			height: 40px;
			line-height: 40px;
			background: #000;
			color: #fff;
			font-weight: $font-weight-bold;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.75px;
		}

		ul {
			li {
				a {
					font-size: 12px;
					margin-top: 14px;
					text-transform: uppercase;
					color: #000;
					border-bottom: 1px solid #e7e7e7;
					padding: 6px 10px;
					display: block;

					&.current {
						background: #e7e7e7;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.institucional {
		.breadcrumb {
			margin: 15px 0;
		}

		.institucional__sidebar {
			&.institucional__sidebar--mobile {

				&:after {
					content: '';
					display: block;
					position: relative;
					left: 50%;
					margin: 20px 0 30px -20px;
					background: #e7e7e7;
					height: 2px;
					width: 40px;
				}
			}
		}
	}
}