.institucional-mosaico {
	.institucional-mosaico__main {
		background: url("/arquivos/institucional-mosaico-bg.jpg") no-repeat top center;
		background-size: 100%;
	}

	.institucional-mosaico__header {
		padding: 55px 0 45px;
		text-align: center;
		color: #fff;

		.institucional-mosaico__title {
			font-size: 30px;
		}

		.institucional-mosaico__subtitle {
			font-size: 18px;
			font-family: $font-family-sans-serif-light;
		}

		&:after {
			content: '';
			display: inline-block;
			margin-top: 20px;
			@extend .sprite-general-institucional-mosaico-arrow;
		}
	}

	.institucional-mosaico__banner {
		margin-bottom: 20px;
		height: 240px;

		a {
			display: block;
		}

		img {
			@extend .img-responsive;
			width: 100%;
		}
	}

	.institucional-mosaico__banner-default,
	.institucional-mosaico__banner-hover {
		@include transition(all .3s);
		position: absolute;
		top: 0;
	}

	.institucional-mosaico__banner-hover {
		@include opacity(0);
	}
}

@media (min-width: $screen-md-min) {
	.institucional-mosaico {
		.institucional-mosaico__banner-hover {
			&:hover {
				@include opacity(1);
			}
		}
	}
}

@media (max-width: $screen-md-max) {
	.institucional-mosaico {
		.institucional-mosaico__banner {
			height: 200px;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.institucional-mosaico {
		.institucional-mosaico__banner {
			height: 153px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.institucional-mosaico {
		.institucional-mosaico__main {
			background: none;
		}

		.institucional-mosaico__header {
			background: url("/arquivos/institucional-mosaico-bg--mobile.jpg") no-repeat bottom center;
			background-size: cover;
			padding: 20px 15px 10px;

			.institucional-mosaico__title {
				font-size: 23px;
			}

			.institucional-mosaico__subtitle {
				font-size: 14px;
			}

			&:after {
				margin-top: 14px;
			}
		}

		.institucional-mosaico__banner {
			margin-bottom: 10px;
			height: auto;
		}

		.institucional-mosaico__banner-default {
			position: relative;

			img {
				width: 100%;
			}
		}
	}

	.custom-padding-xs-right {
		padding-right: 6px;
	}

	.custom-padding-xs-left {
		padding-left: 6px;
	}
}