.menu--desktop {
	.menu__item {
		&.menu__item--dropdown {
			&:hover {
				> a {
					background: #fff;
					color: #000;
					position: relative;

    				&:after {
						content: '';
					    display: block;
					    width: 100%;
					    height: 2px;
					    background: #000;
					    position: absolute;
					    bottom: 0;
					    left: 0;
    				}
				}

				> div {
					display: block;
				}
			}
		}
	}
}