.menu--mobile {
	margin: 0;

	.menu__item {
		float: none;
		background: #222222;

		a {
			border-bottom: 1px solid #fff !important;
			padding: 15px 18px 15px 50px;
			display: block;
			font-size: 14px;
			line-height: 21px;
			color: #fff;
			text-transform: uppercase;
			font-weight: $font-weight-regular;

			&:hover,
			&:focus {
				background: none;
			}
		}

		&:last-child {
			a {
				border-bottom: none !important;
			}
		}

		&.menu__item--dropdown {
			> a {
				&:after {
					content: '+';
					display: block;
					float: right;
					color: #fff;
					position: relative;
					top: -3px;
					@include transform(rotate(90deg));
					@include transform-origin(left);
					@include transition(all .3s);
				}
			}
		}

		&.open {
			> a {
				background: none;

				&:after {
					top: 1px;
					content: '-';
					@include transform(rotate(180deg));
				}
			}
		}

		&.menu__item--account,
		&.menu__item--orders {
			background: #3a3939;

			a {
				border-color: #333 !Important;
				font-size: 10px;
    			padding: 8px 18px 8px 50px;
			}
		}
	}
}