.menu {
	margin: 0 -15px;
	padding-top: 2px;

	.menu__item {
		position: static;

		> a {
			font-size: 11px;
			text-transform: uppercase;
			padding: 7px 17px 9px;
			font-weight: $font-weight-bold;
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.menu {
		.menu__item {
			> a {
				font-size: 10px;
				padding: 7px 9.9px 9px;
			}
		}
	}
}

@import "_menu--mobile.scss";
@import "_menu--desktop.scss";