.submenu {
	display: none;

    .submenu__item {
    	a {
    		font-size: 12px;
    		line-height: 23px;
    		color: #000;
    		text-transform: uppercase;
    		font-weight: $font-weight-regular;
    	}
    }
}

@import "_menu__submenu--mobile.scss";
@import "_menu__submenu--desktop.scss";