.menu--mobile {
	padding-top: 0px;

	.submenu {
		background: #fff;

		.submenu__item {
			padding-left: 40px;
			border-bottom: 1px solid #ccc;

			a {
				padding-left: 3px;
				border-color: #000;
				font-weight: $font-weight-regular;
				line-height: 21px;
			}

			&:last-child {
				> a {
					border-bottom: none;
				}
			}
		}
	}
}