.menu--desktop {
	.submenu {
	    position: absolute;
	    left: 0px;
	    top: $navbar-height;
	    background: #fff;
	    height: 162px;
	    width: 100%;
	    z-index: 8;
	    border-bottom: 1px solid #eee;
	    @include box-shadow(1px 1px 1px #f6f6f6);

		.submenu-inner {
			@extend .container;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.submenu__section {
    	display: inline-block;
    	width: 185px;
    	float: left;
    	padding-top: 16px;

		a {
	    	padding: 4px 18px;
	    	width: 100%;
	    	display: block;

	    	&:hover {
	    		background: #000;
	    		color: #fff;
	    	}
	    }
    }

	.submenu-banner {
		position: absolute;
		top: 0;
		right: 0;
		width: 630px;

		.submenu-banner__title {
			margin-top: 18px;
			text-transform: uppercase;

			.submenu-banner__title__title-block {
				display: block;
				font-size: 10px;
				font-weight: $font-weight-regular;
				background: #efefef;
				padding: 0 15px;
			    width: 97px;
			    height: 25px;
			    line-height: 25px;
			}

			.submenu-banner__title__title {
				display: block;
				font-size: 14px;
				font-weight: $font-weight-bold;
				margin-left: 15px;
				margin-top: -6px;
			}
		}

		.submenu-banner__department {
			margin: 9px 0 12px;
			padding-left: 15px;
			font-size: 11px;
			text-transform: uppercase;
			height: 30px;
		}

		.btn {
			float: right;
			padding: 7px 30px;
		}

		.submenu-banner__img {
			margin-left: 40px;
			float: right;
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.menu--desktop {
		.submenu {
		    height: 150px;
		}

		.submenu__section {
	    	width: 128px;
	    	padding-top: 10px;

			a {
		    	font-size: 10px;
		    	padding: 4px 10px;
		    }
	    }

    	.submenu-banner {
			width: 565px;

			.submenu-banner__department {
				margin: 10px 0 5px;
				font-size: 9px;
			}

			.submenu-banner__title {
				margin-top: 15px;
			}

			.submenu-banner__img {
				margin-left: 20px;

				img {
					width: 370px;
					height: auto;
				}
			}
		}
	}
}