// Error
.newsletter--error {
	.newsletter__error {
		position: absolute;
		bottom: -18px;
		left: 0;
	}
}

// Success
.newsletter__form--success {
	height: 33px;
	margin-top: 8px;
}

@media (max-width: $screen-sm-max) {
	// Success
	.newsletter__form--success {
		text-align: center;
		margin-top: 1px;
	}
}

@media (max-width: $screen-xs-max) {
	// Success
	.newsletter__form--success {
		margin-top: 18px;
	}
}