.newsletter {
	margin-top: 60px;
	background: #000;
	height: 70px;
	padding: 18px 0;

	.newsletter__img {
		position: absolute;
		bottom: -51px;
		left: 0;
	}

	.newsletter__title {
	    text-transform: uppercase;
	    position: relative;
	    top: -31px;
	    margin-left: 20px;

		.newsletter__title__title-block {
			display: block;
		    font-size: 14px;
		    font-weight: $font-weight-bold;
		    background: #efefef;
		    width: 138px;
		    height: 25px;
		    line-height: 25px;
		    text-align: center;
		    color: #000;
		}

		.newsletter__title__title {
			display: block;
		    font-size: 30px;
		    font-weight: $font-weight-bold;
		    margin-left: 16px;
		    margin-top: 3px;
		    letter-spacing: 0.75px;
		    color: #fff;
		}
	}

	.newsletter__description {
		color: #fff;
		font-size: 12px;
		margin-left: 30px;
	}

	.newsletter__form {
		position: relative;

		.newsletter__input--txt {
			width: 232px;
			display: inline-block;
			height: 33px;
		}

		.newsletter__input--submit-wrap {
			display: inline-block;
			padding-left: 5px;

			.newsletter__submit {
				padding: 7px 19px;

				&.newsletter__submit--loading {
					background: url('/arquivos/loading__ajax-loader--black.gif') center center no-repeat;
					color: transparent;
				}
			}
		}
	}
}

@media (max-width: $screen-md-max) {
	.newsletter {
		.newsletter__title {
			margin-left: 0;

			.newsletter__title__title {
			    font-size: 27px;
			    margin-top: 7px;
			}
		}

		.newsletter__description {
			margin-left: 13px;
		}

		.newsletter__form {
			.newsletter__input--txt {
				width: 179px;
			}

			.newsletter__input--submit-wrap {
				.newsletter__submit {
					padding: 7px 10px;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	.newsletter {
		height: auto;

		.newsletter__form {
			padding-top: 18px;
			border-top: 1px solid #232323;
			margin-top: -18px;

			.newsletter__input--txt {
				width: 572px;
			}

			.newsletter__input--submit-wrap {
				.newsletter__submit {
					padding: 7px 27px;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.newsletter {
		.newsletter__img {
			margin: 0 -50px;
		}

		.newsletter__title {
			margin-left: 0;

			.newsletter__title__title-block {
				font-size: 12px;
			}

			.newsletter__title__title {
			    font-size: 20px;
			}
		}

		.newsletter__description {
			margin-left: 0;
			text-align: center;
			border-top: 1px solid #232323;
			margin: -8px -15px 0;
			padding-top: 18px;
		}

		.newsletter__form {
			border-top: 0;
			margin-top: 0;

			.newsletter__input--txt {
				width: 60%;
			}

			.newsletter__input--submit-wrap {
				width: 40%;

				.newsletter__submit {
					width: 100%;
					padding: 7px;
				}
			}
		}
	}
}