body.orders {
	&:after {
		content: '';
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/arquivos/loading__ajax-loader--white.gif') center center no-repeat #FFF;
	}

	&.loaded {
		&:after {
			display: none;
		}
	}
}

.orders__main {
	font-family: $font-family-sans-serif;
	min-height: 750px;

	a {
		@extend .text-primary;
	}

	input[type="text"] {
		background-color: #fff;
		color: #000;
		border: 1px solid #000;
	}

	.orders__title {
		padding: 60px 0 55px;

		h1 {
			margin: 0;
			text-transform: uppercase;
			font-weight: 700;
		}

	}

	.orders__header {
		background-color: #000;
		background-position-x: center;
		width: auto;
		margin-bottom: 50px;

		h1 {
			font-size: 40px;
			color: #fff;
			margin: 0;
			height: 151px;
			text-transform: uppercase;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.vtex-bootstrap {

		.loading-bg {
			background: rgba(255, 255, 255, 0);
		}

		.table {
			width: 100%;
		}

		.section-info-title {
			font-weight: normal;
			font-size: 14px;
		}

		.shipping {
			li {
				font-size: 11px;
			}
		}

		.container {
			width: 1140px;

			> .page-header:first-child {
				display: none;
			}
		}

		.form-search {
			.search-query {
				width: 100%;
				height: auto;
				padding: 12px;
				border: 1px solid #cccccc;
				font-size: 11px;
				@include border-radius(0);
			}

			.typeahead {
				position: absolute;
				background-color: #fff;
				padding: 10px 15px 15px;
				@include border-radius(0);

				li {
					a {
						padding: 3px;
					}

					&.active {
						a {
							background: #ccc;
						}
					}
				}
			}

			.dropdown-menu li {
				background-color: #fff;

				a {
					color: #000;
				}
			}
		}

		.ordergroup {
			@include border-radius(0);

			.order-details,
			.order-header,
			.order-info {
				padding: 0 15px;
			}

			.order-header {
				margin: 0;
				padding: 10px 10px 20px;
			}

			.order-title {
				margin: 0;

				span {
					margin-top: 13px;
					display: inline-block;
				}
			}

			.order-details {
				.top-row {
					margin-bottom: 20px;
				}

				th, td {
					@extend .text-left;
				}

				th {
					padding: 4px 0px;
				}

				.new-product-price {
					@extend .text-left;
					font-size: 15px;
					font-weight: normal;
				}
			}
		}

		.order-status-wrapper {
			margin-top: 15px;
		}

		.total-info th {
			font-weight: normal;
			padding: 4px 5px;
		}

		.request-cancel {
            .form-request {
                @include border-radius(0);
                z-index: 1;
                background-color: #fff;
                border: 1px solid $gray-base;
            }

            textarea {
                @include border-radius(0);
                width: 100%;
                padding: 10px;
                border: 1px solid $gray-base;
                outline: 0;
                margin-top: 5px;
            }

            .btn-primary {
                color: #fff;
            }

            .icon-remove {
                font-weight: $font-weight-bold;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                background-color: #fff;
                position: absolute;
                right: 0px;
                top: 0px;
                color: #ff0000;
                border: none;

                &:before {
                    content: 'x';
                    display: block;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
	}

	h4 {
		color: red;
		font-size: 21px;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	.showTrackingInfo .btn,
	.repeat-order .btn {
		@extend .btn-default;
	}

	.bank-invoice-print {
		margin-top: 10px;

		a {
			color: #fff;
		}
	}

	.visible-phone {
		display: none;
		margin-left: -15px;
		margin-right: -15px;
	}
}

.label {
	background-color: #999;
}

@media (max-width: $screen-md-max) {
	.orders__main {
		.vtex-bootstrap .container {
			width: 100%;
		}

		.vtex-bootstrap .order-title small {
			margin-top: 0;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.orders__main {
		.orders__title {
			h1 {
				font-size: 30px;
			}
		}

		.visible-phone {
			display: block;
		}

		.repeat-order,
		.order-status-wrapper,
		.request-cancel {
			float: none !important;
		}

		.vtex-bootstrap  {
			.request-cancel {
                .request-cancel-link {
                    text-align: left;
                }

                .form-request {
                    right: auto;
                    left: 0;
                }
            }

			.order-title small {
				margin-top: 10px;
			}

			.alert {
				width: 100%;
			}
		}

		.cart-items {
			margin-left: -15px;
			margin-right: -15px;

			thead,
			.product-price,
			.shipping-date {
				display: none;
			}

			tbody {
				border-top: 2px solid $gray;
			}

			tr {
				height: 120px;
				position: relative;
			}

			td {
				padding-top: 15px;
			}

			.product-image {
				left: 0;
				position: absolute;
				z-index: 0;
			}

			.product-name,
			.quantity,
			.quantity-price {
				left: 88px;
				text-align: left;
				width: auto;
				padding: 10px 0 10px !important;
				position: absolute;
				z-index: 0;
			}

			.quantity,
			.quantity-price {
				margin-top: 80px;
			}

			.quantity {
				margin-top: 50px;

				&:after {
					content: "item(ns)";
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.orders__main {
		.quantity,
		.quantity-price {
			display: none;
		}
	}
}