.product-main__info {
    .panel-group {
        margin-bottom: 0;

        .panel {
            @include box-shadow(none);
            margin-top: 0;
            border: none;

            .panel-heading {
                background: none;
                border-bottom: none;
                padding: 0;

                .panel-title {
                    a {
                        display: block;
                        height: 36px;
                        line-height: 36px;
                        background: #000;
                        color: #fff;
                        position: relative;

                        &:after {
                            @extend .sprite-general-product-main__info--open;
                            @include transform(rotate(180deg));
                            @include transition(all .3s);
                            content: '';
                            display: block;
                            right: 20px;
                            position: absolute;
                            top: 15px;
                        }

                        &.collapsed {
                            background: #fff;
                            color: #000;

                            &:after {
                                @include transform(rotate(0deg));
                                @extend .sprite-general-product-main__info--close;
                            }
                        }
                    }
                }
            }

            .panel-body {
                padding: 0;
                border: none !important;

                table {
                    margin-top: 0;
                    width: 100%;

                    th {
                        position: absolute;
                    }

                    td {
                        padding: 26px 0 8px;
                        width: 100%;
                    }
                }

                iframe {
                    width: 100%;
                }
            }
        }
    }
}