.portal-notify-me-ref {
    position: relative;
    left: -50%;
    width: 150%;
    top: -25px;

    .sku-notifyme {
        margin-left: -15px;
        background: #fff;
        height: 95px;
    }

    .notifyme-client-name {
        display: none !important;
    }

    .notifyme-title-div h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    fieldset {
        position: relative;

        > p {
            font-size: 11px;
        }
    }

    .notifyme-client-email {
        border: 1px solid #d1d1d1;
        padding: 15px 65px 15px 21px;
        font-size: 10px;
        text-transform: uppercase;
        width: 100%;
        @include placeholder(#000000);
    }

    .notifyme-button-ok {
        @extend .btn;
        @extend .btn-dark;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 46px;
    }

    .success,
    .error,
    .notifyme-loading-message {
        margin-top: 5px;

        label {
            font-weight: $font-weight-regular;
        }
    }

    .error {
        @extend .text-danger;
        text-transform: uppercase;
    }

    .success em {
        text-transform: uppercase;
        @extend .text-success;
        font-style: normal;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .portal-notify-me-ref {
        left: -75%;
        width: 175%;
    }
}

@media (max-width: $screen-sm-max) {
    .portal-notify-me-ref {
        left: 0;
        width: 100%;
        top: -15px;

        .sku-notifyme {
            margin-top: -100px;
            margin-left: 0;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .portal-notify-me-ref {
        .sku-notifyme {
            margin-top: -85px;
        }
    }
}