@import "_product-main__info--accordion.scss";
@import "_product-main__info--tabs.scss";

.product-main__info {
    margin-top: 25px;

    .product-main__info__link {
        font-size: 14px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        border-bottom: 1px solid #e7e7e7;
    }

    .active {
        .product-main__info__link {
            color: #fff;
            background: #000;
            border-bottom: none;
        }
    }

    #caracteristicas {
        >  h4,
        table {
            display: none;
        }

        table.Especificacoes {
            display: table;
        }
    }

    .tab-pane--pieces,
    .product-main__info__pieces--body,
    .productDescription {
        font-size: 12px;
        line-height: 20px;
        padding: 15px 0 !important;
    }

    .tab-pane--video {
        text-align: center;
    }

    iframe {
        margin: 15px 0;
    }

    table {
        margin-top: 15px;
        width: 100%;

        tr{
            border-bottom: 1px solid #e7e7e7;

            th,
            td {
                font-size: 12px;
                line-height: 20px;
                padding: 10px 0;
            }

            th {
                text-transform: uppercase;
            }
        }
    }
}