.product-main__price {
    margin-top: 20px;

    em {
        font-style: normal;
    }

    p {
        margin-bottom: 0;
    }

    .price-list-price {
        font-size: 0;
        color: #888888;
        text-decoration: line-through;
        text-transform: uppercase;

        strong {
            font-size: 14px;
            font-family: $font-family-sans-serif-light;
            font-weight: $font-weight-regular;
        }
    }

    .price-best-price {
        font-size: 0;

        strong {
            font-size: 36px;
            line-height: 42px;
            font-weight: $font-weight-bold;
        }
    }

    .price-installments {
        font-size: 14px;
        font-family: $font-family-sans-serif-light;

        label {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-regular;
        }

        &:after {
            content: 'sem juros';
            display: inline-block;
            margin-left: 3px;
        }
    }

    .price-cash,
    .economia-de {
        display: none !important;
    }
}

@media (max-width: $screen-md-max) {
    .product-main__price {
        margin-top: 15px;

        .price-list-price {
            strong {
                font-size: 12px;
            }
        }

        .price-best-price {
            strong {
                font-size: 23px;
                line-height: 35px;
            }
        }

        .price-installments {
            font-size: 12px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .product-main__price {
        margin-top: 5px;

        .price-best-price {
            strong {
                font-size: 21px;
                line-height: 28px;
            }
        }

        .price-installments {
            font-size: 12px;
            line-height: 11px;

            &:after {
                display: block;
                margin-left: 0px;
            }
        }
    }
}