.product-main__info {
	.nav-tabs {
		border-bottom: none;

		.nav-tabs__item {
			a {
				width: 273px;
				margin-right: 15px;
			}
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.product-main__info {
		.nav-tabs {
			.nav-tabs__item {
				a {
					width: 212px;
					margin-right: 10px;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.product-main__info {
		.nav-tabs {
			.nav-tabs__item {
				a {
					width: 175px;
				    margin-right: 5px;
				    font-size: 11px;
				}
			}
		}
	}
}