.product-main__shipping {
	.modal-body {
		#popupCalculoFreteWrapper,
		.header,
		.footer,
		.quantity {
			display: none;
		}

		.cep-busca,
		.frete-calcular,
		.prefixo {
			display: block;
			text-align: center;
		}

		.prefixo {
			font-size: 0;

			input {
				font-size: 14px;
			    height: 42px;
			    width: 273px;
			    text-align: center;
			    font-weight: $font-weight-regular;
			}
		}

		.freight-btn {
			@extend .btn;
			@extend .btn-dark;
			width: 273px;
			padding: 11px 12px;
		}

		.lnkExterno {
			font-size: 11px;
			color: #2a2a2a;
			margin-top: 5px;
    		display: inline-block;
		}

		.freight-values {
			text-align: center;
			margin-top: 25px;
		}

		table {
			width: 100%;

			th {
				display: none;
			}

			td {
				border: 1px solid #e7e7e7;
				color: #2a2a2a;
				height: 40px;
				text-align: center;
				padding: 12px;
			}

			tr {
				td:nth-child(1) {
					padding-left: 30px;
					border-right: none;
					font-size: 14px;
					font-weight: $font-weight-bold;
				}

				td:nth-child(2) {
					border-left: none;
					font-size: 11px;
					padding-right: 30px;
				}

				td:nth-child(3) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.product-main__shipping {
		.modal-body {
			.prefixo {
				input {
				    width: 100%;
				}
			}

			.freight-btn {
				width: 100%;
			}
		}
	}
}