.product-main__other-payment-method {
	.other-payment-method {
		.titulo-parcelamento {
			background: #000;
		    color: #fff;
		    display: block;
		    text-align: center;
		    font-size: 14px;
		    text-transform: uppercase;
		    font-weight: $font-weight-bold;
		    height: 42px;
		    line-height: 42px;
		}

		li {
			height: 40px;
			line-height: 40px;
			font-size: 11px;
			color: #2a2a2a;
			border: 1px solid #e7e7e7;
			padding: 0 100px;
			text-align: center;
		}
	}

	.see-other-payment-method-link {
		display: none;
	}
}