.product-main__image {
    @extend .clearfix;

    .thumbs {
        overflow: hidden;
        float: left;
        width: $thumb-width;
        height: $image-height;
        position: relative;
        z-index: 4;
        padding-top: 20px !important;
        @include transition(all .3s);

        li {
            margin: 0 0 10px 0;
            height: $thumb-height;
            text-align: center;

            a {
                display: block;
                border: 1px solid #ebebeb;
                padding: 6px;
            }

            &.thumbs__item--current {
                a {
                    border: 3px solid #000;
                }
            }
        }

        img {
            @extend .img-responsive;
            display: inline-block;
        }
    }

    #include {
        float: right;
        width: $image-visible-area;
        overflow: hidden;
        margin-right: 26px;

        .image-zoom {
            width: $image-visible-area;
            display: block;
            text-align: center;
        }

        .zoomPad {
            overflow: hidden;
            text-align: center;
        }

        #image-main {
            display: inline-block;
            width: $image-width;
            height: $image-height;
        }
    }

    .zoomWindow {
        width: ($image-visible-area + 10px) !important;
        height: $image-height !important;
        overflow: hidden !important;
        left: auto !important;
        right: 26 !important;
        top: 0 !important;
        background-color: #fff !important;
        z-index: 1 !important;
        @include box-shadow(-3px 3px 9px 0px rgba(50, 50, 50, 0.75));
    }

    .zoomWrapper {
        width: ($image-visible-area + 10px) !important;
    }

    .zoomWrapperImage{
        width: 1000px;
        height: 1000px;
    }
}

@media (min-width: $screen-md-min) {
    .product-main__image {
        .thumbs {
            li {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .product-main__image {
        .thumbs {
            height: auto;
            width: 100% !important;
            padding: 0 20px;

            .slick-track {
                padding-top: 2px;
            }

            li {
                display: inline-block;
                padding: 0px 4px;

                &.thumbs__item--current {
                    a {
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }

        #include {
            width: 100%;
            min-height: 345px;
            float: none;

            .image-zoom {
                width: 100%;
            }

            #image-main {
                width: 100%;
                height: auto;
            }
        }
    }

    .product {
        .zoomWindow {
            display: none !important;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .product-main__image {
        padding-bottom: 0;

        .thumbs {
            padding: 0;
            padding-top: 5px !important;
            overflow: visible;

            .slick-list {
                margin: 0 -15px;
            }
        }

        #include {
            min-height: 290px;

            .image-zoom {
                min-height: 290px;
            }
        }
    }
}