.product-main {
    .product-main__name {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    .product-main__brand {
        font-size: 12px;
        font-weight: $font-weight-bold;
        border-right: 1px solid #a3a3a3;
        padding-right: 5px;
        margin-right: 5px;
        display: inline-block;
        line-height: 13px;

        a {
            color: #000;
        }
    }

    .product-main__reference {
        font-size: 12px;
        text-transform: uppercase;
        font-family: $font-family-sans-serif-light;
        display: inline-block;

        div {
            display: inline;
        }
    }

    .product-main__quantity {
        margin-top: 20px;

        .product-main__quantity__title {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 7px;
            display: block;
        }

        .product-main__quantity__actions {
            height: 51px;
            border: 1px solid #e7e7e7;
            display: block;
            width: 100%;
            line-height: 50px;
            text-align: center;

            .product-main__quantity__value {
                height: 46px;
                border: none;
                width: 46px;
                display: inline-block;
                text-align: center;
                position: relative;
                top: -1px;
                font-size: 16px;
            }

            .product-main__quantity__plus,
            .product-main__quantity__minus {
                display: inline-block;
                cursor: pointer;
                position: relative;
                top: 2px;
                background: #e7e7e7;
                height: 45px;
                width: 45px;
                text-align: center;
                color: #fff;
                line-height: 45px;
            }

            .product-main__quantity__plus {
                right: 2px;
                float: right;
            }

            .product-main__quantity__minus {
                left: 2px;
                float: left;
            }
        }
    }

    .product-main__buy {
        .product-main__buy-button {
            margin: 44px 0 0;
            position: relative;
        }

        .buy-button {
            @extend .btn;
            @extend .btn-success;
            @extend .btn--cart;
            font-size: 18px;
            padding: 12px;
        }
    }

    .product-main__btn-group {
        margin-top: 25px;

        .product-main__btn-default {
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-size: 11px;
            color: #2a2a2a;
            text-align: center;
            display: block;
            border: 1px solid #e7e7e7;
            outline: 0;
        }
    }

    .product-main__related-products {
        display: none;
        margin-top: 30px;

        h2 {
            display: none;
        }

        .product-main__buy__title {
            font-size: 12px;
            margin-bottom: 7px;
            text-transform: uppercase;
            display: block;
        }

        ul {
            li {
                display: inline-block;
                border: 1px solid #ebebeb;
                width: 60px;
                margin-right: 20px;
                padding: 4px;

                img {
                    @extend .img-responsive;
                }
            }
        }
    }
}

@media (max-width: $screen-md-max) {
    .product-main {
        .product-main__name {
            font-size: 18px;
        }

        .product-main__quantity {
            margin-top: 10px;
        }

        .product-main__buy {
            .product-main__buy-button {
                margin: 34px 0 0;
            }
        }

        .product-main__btn-group {
            margin-top: 15px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .product-main {
        padding-top: 15px;

        .product-main__quantity {
            margin-top: 5px;

            .product-main__quantity__actions {
                height: 45px;

                .product-main__quantity__value {
                    height: 41px;
                    width: 44px;
                    top: -4px;
                }

                .product-main__quantity__plus,
                .product-main__quantity__minus {
                    height: 39px;
                    width: 39px;
                    line-height: 39px;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .product-main {
        .product-main__btn-group {
            .product-main__btn-default {
                font-size: 10px;
            }

            .col-xs-6:nth-child(1) {
                padding-right: 10px;
            }

            .col-xs-6:nth-child(2) {
                padding-left: 10px;
            }
        }
    }
}