.product__buy-together {
	h4,
	hr,
	.more,
	.buy strong:nth-child(5) {
		display: none;
	}

	table {
		width: 100%;
	}

	a {
		display: block;
	}

	h3 {
		font-family: $font-family-sans-serif-light;
		margin: 10px 0;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;

		a {
			color: $text-color;
		}
	}

	img {
		@extend .img-responsive;
		width: 100% !important;
	}

	.plus,
	.equal {
		font-size: 24px;
		font-weight: $font-weight-bold;
	}

	.itemA,
	.itemB {
		padding: 0 65px;
		width: 33.3333%;
	}

	.buy {
		text-align: center;
		padding: 0 45px;
		font-size: 14px;
		font-family: $font-family-sans-serif-light;

		strong {
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-regular;
		}

		.product__buy-together__total {
			font-size: 30px;
			display: block;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-bold;
		}

		.comprar-junto {
			margin-top: 30px;
			font-family: $font-family-sans-serif;

			a {
				@extend .btn;
				@extend .btn-dark;
			    padding: 15px 12px;
				width: 100%;
				font-size: 0px;

				&:after {
					content: 'Adicionar ao carrinho';
					display: inline-block;
					font-size: 14px;
					position: relative;
					left: -3px;
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.product__buy-together {
		.itemA,
		.itemB {
			padding: 0 35px;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.product__buy-together {
		padding-bottom: 170px;

		.itemA,
		.itemB {
			padding: 0 35px;
			width: 50%;
		}

		.equal {
			display: none;
		}

		.buy {
			position: absolute;
			bottom: -170px;
			left: 0;
			width: 100%;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.product__buy-together {
		padding-bottom: 140px;

		h3 {
			font-size: 10px;
		}

		.itemA,
		.itemB {
			padding: 0;
		}

		.equal {
			display: none;
		}

		.buy {
			padding: 0 15px;
			bottom: -140px;

			.comprar-junto {
				margin-top: 20px;
			}

			.product__buy-together__total {
				font-size: 22px;
			}
		}
	}
}