.product-main__skus {
    margin-top: 20px;
    @extend .clearfix;

    .specification {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .skuList {
        margin-bottom: 15px;

        .combination_unavaliable {
            display: none;
        }
    }

    ul {
        width: 50%;
        display: inline-block;

        select {
            @include opacity(0);
        }

        &:nth-child(1) {
            padding-right: 13px;
        }

        &:nth-child(2) {
            padding-left: 13px;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .product-main__skus {
        .QtdPdepessoas {
            .skuList {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .product-main__skus {
        margin: 15px 0 0 -20px;

        .skuList {
            margin-bottom: 0;
        }

        ul {
            &:nth-child(1) {
                padding-right: 2px;
            }

            &:nth-child(2) {
                padding-left: 2px;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .product-main__skus {
        margin-top: 5px;

        .skuList {
            margin-bottom: 9px;
        }
    }
}
