.seo-text {
	text-align: center;

	h2 {
		font-size: 14px;
		margin: 0 0 8px;
		font-weight: $font-weight-bold;
		text-transform: uppercase;

		&:before {
			content: '';
			display: block;
			height: 2px;
			width: 70px;
			background: #e7e7e7;
			margin: 0 auto 11px;
		}
	}

	h3 {
		margin: 0;
		font-size: 12px;
	}
}
