.shelf-content {
	min-height: 200px;
	margin-bottom: 50px;

	.shelf {
		@extend .clearfix;

		ul {
			padding: 0;
			list-style: none;
			@extend .clearfix;
		}
	}
}

.avantiSearch-load-more {
	display: none;
	text-align: center;
	width: 373px;
	clear: both;
	padding: 11px 12px;
    font-size: 14px;
}

.avantiSearch-loading {
	display: block;
	background: url('/arquivos/loading__ajax-loader--white.gif') center center no-repeat;
	width: 16px;
	height: 16px;
	text-indent: -99999em;
}

.avantiSearch-btn-clean-all-filters {
	// display: none;
	padding: 11px 12px;
	font-size: 14px;
	width: 100%;
}

.search--no-results {
	@extend .text-center;
	display: block;
	margin-top: 100px;
	text-transform: uppercase;
}

@media (max-width: $screen-xs-max) {
	.avantiSearch-load-more {
		width: 100%;
	}

	.shelf-content {
		padding: 0 35px;
	}
}