.shelf__product-item {
	position: relative;
	margin-bottom: 20px;
	text-align: center;

	.product-item__img {
		display: block;

		img {
			@extend .img-responsive;
		}
	}

	.product-item__info {
		text-align: center;
		height: 96px;
		position: relative;
	}

	.product-item__title {
		font-family: $font-family-sans-serif-light;
		margin: 10px 0;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;

		a {
			color: $text-color;
		}
	}

	.product-item__price {
		display: block;

		.product-item__list-price,
		.product-item__best-price {
			display: inline-block;
			font-size: 14px;
			margin: 0 3px;
		}

		.product-item__list-price {
			font-family: $font-family-sans-serif-light;
			color: #888888;
			text-decoration: line-through;
		}

		.product-item__best-price {
			font-weight: $font-weight-bold;
		}

		.product-item__price__installments {
			font-size: 14px;
			margin-top: 6px;

			.product-item__price__installments--installment {
				display: inline-block;
				font-family: $font-family-sans-serif-light;

				span {
					font-family: $font-family-sans-serif;
				}
			}
		}
	}

	.product-item__buy-button {
		position: absolute;
		top: -54px;
		width: 100%;
		@include opacity(0);
		@include transition(all .3s);

		a {
			@extend .btn-dark;
			width: 100%;
		    height: 42px;
		    font-size: 14px;
		    line-height: 27px;
		}
	}

	.product-item__no-stock {
		font-size: 11px;
	}
}

@media (min-width: $screen-md-min) {
	.shelf__product-item {
		&:hover {
			.product-item__buy-button {
				@include opacity(1);
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.shelf__product-item {
		margin-bottom: 40px;

		.product-item__info {
			margin-top: 20px;
			height: auto;
		}

		.product-item__title {
			margin: 2px 0;
			font-size: 12px;
			line-height: 12px;
		}

		.product-item__price {
			.product-item__list-price,
			.product-item__best-price {
				font-size: 12px;
			}

			.product-item__price__installments {
				font-size: 12px;
				margin-top: 0px;
			}
		}
	}
}