.sidebar {
	.menu-navegue,
	.search-filter-button,
	.search-multiple-navigator > h4,
	.search-multiple-navigator h3,
	.search-single-navigator h4,
	.productClusterSearchableIds {
		@extend .hide;
	}

	ul {
		padding: 0;
		list-style-type: none;
	}

	li, h5, label {
		position: relative;
	}

	h1 {
		font-size: 15px;
		font-weight: $font-weight-bold;
		color: #fff;
		background: #000;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin: 0 0 15px;
		text-transform: uppercase;
		letter-spacing: 0.75px;
	}

	h3 {
		margin: 10px 0 0;
		position: relative;
		text-transform: uppercase;

		&:after {
			@extend .sprite-general-select-fake-arrow;
			content: '';
			position: absolute;
			top: 12px;
			right: 12px;
		}
	}

	h4 {
		&:after {
			@extend .sprite-general-select-fake-arrow;
		}

	}

	h5 {
		&:after {
			@extend .sprite-general-select-fake-arrow;
		}
	}

	fieldset {
		@include transition(all .3s);

		&.open {
			h4 {
				&:after {
					@include transform(rotate(0deg));
				}
			}
		}

		> div {
			> ul {
				padding: 0;
			}
		}

		label {
			padding-left: 35px;
			color: $text-color;
			width: 100%;
			height: 30px;
			line-height: 30px;
			font-size: 11px;
			cursor: pointer;
			margin-bottom: 0;
			font-weight: $font-weight-regular;
			border-bottom: 1px solid #e7e7e7;

			&:before {
				content: '';
				display: block;
				border: 1px solid #000;
				height: 10px;
				width: 10px;
				position: absolute;
			    bottom: 9px;
			    left: 11px;
			    background: #fff;
			}

			&.on {
				&:after {
				    content: '';
				    display: block;
				    background: #000;
				    height: 4px;
				    width: 4px;
				    position: absolute;
				    bottom: 12px;
				    left: 14px;
				}
			}

			&:hover {
				background: #e7e7e7;
			}

			input[type="checkbox"] {
				@extend .hide;
			}
		}
	}

	.sidebar__btn {
		padding: 10px;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.sidebar {
		h1 {
			font-size: 12px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.sidebar {
		.search-multiple-navigator + .search-single-navigator {
			display: none !important;
		}

		.search-single-navigator {
			&:before {
				content: 'Departamentos';
				margin: 10px 0 0;
				height: 35px;
				font-size: 14px;
				line-height: 37px;
				cursor: default;
				font-weight: $font-weight-bold;
				text-transform: uppercase;
				border-bottom: 3px solid #000;
				display: block;
			}
		}

		h4 {
			margin: 0;
			font-size: 12px;
			height: 30px;
			line-height: 30px;
			background: #e7e7e7;
			padding: 0 12px;
			position: relative;
			cursor: pointer;

			&:after {
				@include transition(all .3s);
				content: '';
				position: absolute;
				top: 12px;
				right: 12px;
				@include transform(rotate(-90deg));
			}

		}

		h5 {
			margin: 10px 0 0;
			height: 35px;
			font-size: 14px;
			line-height: 37px;
			cursor: default;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			border-bottom: 3px solid #000;
		}

		h3,
		ul li {
			a {
				color: $text-color;
				padding: 0 12px;
				width: 100%;
				height: 30px;
				line-height: 30px;
				font-size: 11px;
				border-bottom: 1px solid #e7e7e7;
				display: block;

				&:hover {
					background: #e7e7e7;
				}
			}
		}

		.ver-filtros {
			font-size: 10px;
			color: #000;
			padding-left: 35px;
			margin-top: 10px;
			display: block;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.sidebar {
		.search-single-navigator {
			display: block !important;

			a {
				padding: 15px 18px 15px 21px;
				display: block;
				font-size: 12px;
				line-height: 21px;
				color: #000;
			}

			> h3 {
				margin: 0;

				a {
					border-bottom: none;
					line-height: 20px;
					color: #fff;
					background: #000;
					font-weight: $font-weight-bold;
				}
			}

			> h4 {
				display: block !important;
				margin: 0;
				background: #fff;

				a {
					text-transform: none;
					line-height: 21px;
					font-size: 12px;
				    border-top: 1px solid #e7e7e7;
				    border-bottom: none;
				}

				&:nth-child(3) {
					a {
    					border-top: none;
    				}
				}
			}

			> h5 {
				line-height: 21px;
			    background: #e7e7e7;
			    display: block;
			    padding: 15px 18px 15px 21px;
			    display: block;
			    font-size: 12px;
			    margin: 0;
			    height: auto;
			    border-bottom: 1px solid #fff;

			    &:after {
					@include transition(all .3s);
					content: '';
					position: relative;
					top: 8px;
					float: right;
					@include transform(rotate(-90deg));
				}

			    &.open {
					&:after {
						@include transform(rotate(0deg));
					}
				}
			}

			> ul {
    			background: #fff;
    			display: none;

    			li {
    				a {
    					border-color: #e7e7e7;
    				}

    				&:last-child {
    					a {
	    					border-bottom: none;
	    				}
    				}

    				&.filtro-ativo {
    					padding: 15px 18px 15px 21px;
					    display: block;
					    font-size: 12px;
					    line-height: 21px;
					    color: #000;
    					opacity: 0.5;
    					background: #f8f8f8;
    				}
    			}
			}
		}
	}
}
