@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        // background: #fff slick-image-url("/arquivos/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    }
}


/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    top: 50%;
    margin-top: -18px;
    padding: 0;
    border: none;
    outline: none;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    content: '';
    display: block;
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -30px;
    [dir="rtl"] & {
        left: auto;
        right: -10px;
    }

    @extend .sprite-general-carousel__arrow--prev;
}

.slick-next {
    right: -30px;
    [dir="rtl"] & {
        left: -10px;
        right: auto;
    }

    @extend .sprite-general-carousel__arrow--next;
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: 0px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;

        button {
            border: none;
            background: #c2c1c1;
            display: block;
            height: 13px;
            width: 13px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0px;
            cursor: pointer;
            @include border-radius(50%);

            &:hover, &:focus {
                outline: none;
                &:before {
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                height: 13px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 15px;
                text-align: center;
                color: $slick-dot-color;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button {
            background: #000;
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
        }
    }
}

// Shelf
//

/* Arrows */
.slick-prev,
.slick-next {
    margin-top: -85px;
}

// Product Thumbs
//

.thumbs {
    .slick-prev,
    .slick-next {
        top: auto;
        right: auto;
        left: 50%;
        margin-left: -7px;
        margin-top: 0;
        @extend .sprite-general-thumbs__arrow;
    }

    .slick-prev {
        @include transform(rotate(180deg));
    }

    .slick-prev { bottom: 0; }
    .slick-next { top: 0; }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .thumbs {
        .slick-prev,
        .slick-next {
            bottom: auto;
            margin-top: 50px;
            margin-left: 0;
            left: auto;
            top: 0;
        }

        .slick-prev {
            left: 0px;
            @include transform(rotate(-90deg));
        }

        .slick-next {
            right: 0px;
            @include transform(rotate(90deg));
        }
    }
}

// Banner Main
//

.banner-main {
    .slick-dots {
        bottom: 15px;

        li {
            margin: 0 5px;

            button {
                background: #fff;
                height: 5px;
                width: 50px;
                padding: 0;
                @include border-radius(0);
            }

            &.slick-active button {
                background: #000;
            }
        }
    }
}