// Sprite
//
$sprite-general-sprite-spacing: 2px;
$sprite-general-sprite-dimensions: true;


//== Images Product
//
// Main Image Product
//
$image-height: 420px;
$image-width: auto;
$image-visible-area: 420px;

// Thumbs Image Product
//
$thumb-width: 78px;
$thumb-height: 69px;