@import "_bootstrap--checkout.scss";
@import "compass/css3";

// @import "_fonts.scss";

$sprite-checkout-sprite-spacing: 2px;
$sprite-checkout-sprite-dimensions: true;
@import "sprite-checkout/*.png";
@include all-sprite-checkout-sprites;

body + object {
	display: none;
}

dl, dd {
	margin: 0;
}

body {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
}

.loading-bg {
    margin-top: 0;
}

.row-fluid .full-cart,
.row-fluid .orderform-template {
	min-height: 500px;
}

.header {
	margin: 0;
	text-align: center;
	background: #000;
	height: $navbar-height--checkout;

	.header__logo {
		margin: 0;
        display: inline-block;
		height: $navbar-height--checkout;

        a {
	        top: 50%;
			position: relative;
        	display: block;
        	@include transform(translateY(-50%));
        }
	}
}

.footer {
	border-top: 2px solid #000;

	.footer-title {
		font-size: 12px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}

	.footer__oxford-group {
		padding: 30px 0 54px;
		background: #fff url(/arquivos/footer__oxford-group--checkout.jpg) no-repeat bottom right;
		background-size: auto 100%;

		img {
			margin: 20px 0 0 45px;
		}
	}

	.footer__menu {
		padding: 30px 0 25px;
		margin-left: 25px;

		.footer__menu__item {
			font-size: 12px;
			line-height: 16px;
			color: #000;

			a {
				color: #000;
			}
		}
	}

	.footer__flags {
		.footer__flags__title {
			margin-bottom: 3px;
		}

		.footer__flags__item {
			display: inline-block;

			a {
				display: inline-block;
			}
		}
	}

	.footer__payment {
		padding: 47px 0 25px;

		.footer__payment__item {
			&.footer__payment__item--flags {
				@extend .sprite-checkout-footer__payment__item--flags;
			}
		}
	}

	.footer__security {
		padding: 52px 0 25px;

		.footer__security__item {
			&.footer__security__item--lets-encrypt {
				margin-left: 54px;
				display: block;

				@extend .sprite-checkout-footer__security__item--lets-encrypt;
			}
		}
	}
}

.btn {
	@include border-radius(0);
    @include text-shadow(none);

    &.btn-success {
	    background: $brand-success;
	    border: $brand-success;
	}
}

#is-corporate-client {
	display: none;
}

@media (min-width: $screen-lg-min) {
	.container {
		width: 945px;
	}

	header .container,
	footer .container {
		width: 1170px;
	}
}

@media (max-width: $screen-lg) {
	.container {
		width: auto;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.footer {
		.footer__oxford-group {
			img {
				margin: 20px 0 0 0;
			}
		}

		.footer__menu {
			margin-left: 0px;
			position: relative;
			left: -55px;
		}

		.footer__payment {
			position: relative;
			left: -25px;

			.footer__payment__item {
				&.footer__payment__item--flags {
					@include transform(scale(0.75));
					@include transform-origin(0);
				}
			}
		}

		.footer__security {
			.footer__security__item {
				&.footer__security__item--lets-encrypt {
					margin-left: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.header {
		height: $navbar-height-mobile--checkout;

		.header__logo {
			margin: 0;
	        display: inline-block;
			height: $navbar-height-mobile--checkout;

	        a {
	        	height: 50px;

				img {
					height: 100%;
				}
			}
		}
	}

	.footer {
		.footer__oxford-group {
			background: none;
			text-align: center;
			background: #fff url(/arquivos/footer__oxford-group--checkout--mobile.jpg) no-repeat bottom center;
			background-size: auto;

			img {
				margin-left: 0;
			}
		}

		.footer__menu {
			text-align: center;
			margin-left: 0;
			padding-top: 0;
		}

		.footer__flags {
			.footer__flags__title {
				margin-bottom: 3px;
			}

			.footer__flags__item {
				display: inline-block;

				a {
					display: inline-block;
				}
			}
		}

		.footer__payment {
			text-align: center;
			padding: 0;
		}

		.footer__security {
			text-align: center;
			padding-top: 10px;

			.footer__security__item {
				&.footer__security__item--lets-encrypt {
					margin-left: 0;
					display: inline-block;
				}
			}
		}
	}
}

@media (max-width: 490px) {
	header .container,
	footer .container {
		padding-left: 15px !important;
    	padding-right: 15px !important;
	}
}