.btn {
	outline: none !important;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include button-size(7px, $padding-base-horizontal, 12px, $line-height-base, 0);

	&.btn--arrow {
	    &:after {
	      content: '';
	      display: inline-block;
	      margin-left: 10px;
	      position: relative;
	      top: -1px;
	      @extend .sprite-general-btn--arrow;
	    }
	}

	&.btn--cart {
	    &:before {
	      content: '';
	      display: inline-block;
	      margin-right: 10px;
	      position: relative;
	      top: 2px;
	      @extend .sprite-general-btn--cart;
	    }
	}
}