.form-control {
	// Customize the `:focus` state to imitate native WebKit styles.
	// @include form-control-focus(transparent);
	// Placeholder
	@include placeholder(#000000);
	text-transform: uppercase;
	font-size: 10px;
	border: 1px solid #a1a1a1;
}

.fake-select {
	position: relative;
	height: 32px;
	border: 1px solid #000;
	width: 100%;
	cursor: pointer;

	&:after {
		@extend .sprite-general-select-fake-arrow;
		content: '';
		position: absolute;
		top: 13px;
		right: 10px;
	}

	span {
		position: absolute;
		display: block;
		z-index: 1;
		top: 9px;
		left: 10px;
		font-size: 10px;
		color: #adadad;
		text-transform: uppercase;
	}

	select {
		@include opacity(0);
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 31px !important;
		border: none;
		color: $gray-darker;
		cursor: pointer;
	}
}