.modal {
	background-color: rgba(0,0,0,0.7);
}

// Actual modal
.modal-content {
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid $modal-content-border-color;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: 37px;
    text-align: center;

    .modal-title {
      font-size: 14px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
}

// Close icon
.modal-header .close {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  @include opacity(1);
  @extend .sprite-general-modal__close;
}

.modal-body {
  padding: 0 45px 45px;
}

// Footer (for actions)
.modal-footer {
  border-top: 1px solid $modal-footer-border-color;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
}
