//
// Navbars
// --------------------------------------------------

.navbar {
	> .container {
		position: relative;
	}
}

// Brand/project name
//
.navbar-brand {
	padding: 0 $navbar-padding-horizontal;

	img {
		height: 76px;
	}
}

// Navbar toggle
//
.navbar-toggle {
	float: left;
	margin-left: $navbar-padding-horizontal;
	@include navbar-vertical-align(34px);

	.icon-bar {
		height: 3px;
		background: #000;
		position: relative;
		@include transition(transform 0.25s ease-in-out);
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}

	&.drop-open {
		.icon-bar:nth-child(1) {
		    @include transform(rotate(45deg));
		    @include transform-origin(left center);
		    top: -1px;
		    left: 4px
		}

		.icon-bar:nth-child(2) {
		    width: 0
		}

		.icon-bar:nth-child(3) {
		    @include transform(rotate(-45deg));
		    @include transform-origin(left center);
		    top: 1px;
		    left: 4px;
		}
	}
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
}

@media (max-width: $grid-float-breakpoint-max) {
	.navbar-brand {
		img {
			height: 50px;
		}
	}

	.navbar-toggle {
		margin: 18px 0 0;
	}

	.navbar-nav {
		margin: ($navbar-padding-vertical-mobile / 2) 0;
	}
}