<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />

    <title>{{_accountInfo.TradingName}}</title>
    <style type="text/css">
        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {padding:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}

        .footer td {
            vertical-align: top;
        }

        .footer__contact,
        .footer__social {
            width: 50%;
        }

        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 100% !important;
            }
        }
        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            .status{padding-bottom:0px;}

            .footer__contact,
            .footer__social {
                width: 100% !important;
                display: inline-block;
                text-align: center;
            }

            .footer__contact {
                padding-bottom: 30px;
            }
        }
        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {
            /* force container columns to (horizontal) blocks */
            .container{border-radius:0 !important;}
            .no-padding-top-bottom-mobile{padding-top:0;padding-bottom:0;padding:0 !important;}
            .img-product{width:70px;}
            .side-border td{padding-left:0;}
            .button{padding:11px 0 !important;font-size:13px;width:100%;}
            .table-button{width:100% !important;}
            td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
                /* change left/right padding and margins to top/bottom ones */
            }
            /* remove bottom border for last column/row */
            table[id="last-col-3"] {
                border-bottom: none !important;
            }
            /* align images right and shrink them a bit */
            img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
        }
        @media only screen and (max-width : 800px) {
            .status{width:100% !important;}
            .status div{width:200px !important;}
        }
    </style>
</head>
<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
    <center>
        <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='font-size:14px;'>
            <tr>
                <td align='center' valign='top'>
                    <table border='0' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td bgcolor="#ffffff" align="left" class="container-padding" style="background-color: #ffffff; padding-left: 10px; padding-right: 3px; font-size: 13px; line-height: 19px; font-family: Helvetica, sans-serif; color: #333;">
                                <!-- // Begin Template Body \\ -->
                                <table border='0' cellpadding='0' cellspacing='0'>
                                    <tr>
                                        <td class="force-col" style="padding-top: 8px; padding-bottom: 8px; background: #000000">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border:none;border-left:0px;border-right:0px;" class="col-3">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <a href="http://www.oxfordporcelanas.com.br"><img border="0" width="auto" style="border:none;border-left:0px;border-right:0px;" alt="{{_accountInfo.TradingName}}" src="http://www.oxfordporcelanas.com.br/arquivos/header__logo--email.jpg" class="img-logo"></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 50px; padding-bottom: 50px;">
                                            <p>
                                                Prezado(a),
                                                <br />
                                                <br />
                                                Conforme a sua solicitação, informamos que o produto abaixo encontra-se disponível para compra:
                                                <br />
                                                <a href="{{productLink}}" target="_blank">{{productName}}</a>
                                                <br />
                                                <br />
                                            </p>
                                            <p>
                                                Informações sobre o produto:
                                                <br />
                                                <br />
                                                {{{productDescription}}}
                                            </p>
                                            <p>
                                                Agradecemos o seu interesse!
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="background: #000000; color: #ffffff; padding-top:25px; padding-bottom:25px;">
                                            <table class="footer" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="footer__contact" align="center">
                                                        <table align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">ATENDIMENTO</th>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                        (47) 3631-3003
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                        De segunda à quinta das 7h30 as 17h30 <br/>
                                                                        Sexta das 7h30 as 16h30
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="footer__social" style="text-align: center;">
                                                        <table align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">SIAGA-NOS NAS REDES SOCIAIS</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" align="center" style="text-align: center;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <a href="https://www.facebook.com/OxfordPorcelanas/">
                                                                                            <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--facebook--email.jpg">
                                                                                        </a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="https://www.instagram.com/oxfordporcelanas/">
                                                                                            <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--instagram--email.jpg">
                                                                                        </a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="https://br.pinterest.com/oxfordporcelana/">
                                                                                            <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--pinterest--email.jpg">
                                                                                        </a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="https://www.youtube.com/user/oxfordporcelanas">
                                                                                            <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--youtube--email.jpg">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Body \\ -->
                            </td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>
</html>