<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <title>{{accountInfo.TradingName}}</title>
    <style type="text/css">
        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {padding:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}

        .footer td {
            vertical-align: top;
        }

        .footer__contact,
        .footer__social {
            width: 50%;
        }

        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 100% !important;
            }
        }
        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            .status{padding-bottom:0px;}

            .footer__contact,
            .footer__social {
                width: 100% !important;
                display: inline-block;
                text-align: center;
            }

            .footer__contact {
                padding-bottom: 30px;
            }
        }
        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {
            /* force container columns to (horizontal) blocks */
            .container{border-radius:0 !important;}
            .no-padding-top-bottom-mobile{padding-top:0;padding-bottom:0;padding:0 !important;}
            .img-product{width:70px;}
            .side-border td{padding-left:0;}
            .button{padding:11px 0 !important;font-size:13px;width:100%;}
            .table-button{width:100% !important;}
            td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
                /* change left/right padding and margins to top/bottom ones */
            }
            /* remove bottom border for last column/row */
            table[id="last-col-3"] {
                border-bottom: none !important;
            }
            /* align images right and shrink them a bit */
            img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
        }
        @media only screen and (max-width : 800px) {
            .status{width:100% !important;}
            .status div{width:200px !important;}
        }
    </style>
</head>
<body marginwidth="0" marginheight="0" bgcolor="#fff" style="padding: 0px 0px; color: #333;" leftmargin="0" topmargin="0">
    <!-- 100% wrapper (grey background) -->
    <table width="100%" cellspacing="0" border="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td valign="top" bgcolor="#fff" align="center" class="no-padding-top-bottom-mobile" style="background-color: #fff; color: #333;">
                    <!-- 600px container (white background) -->
                    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" class="container" style="max-width: 600px;">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" align="left" class="container-padding" style="background-color: #ffffff; padding-left: 10px; padding-right: 3px; font-size: 13px; line-height: 19px; font-family: Helvetica, sans-serif; color: #333;">
                                    <br />
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="columns-container">
                                        <tbody>
                                            <tr>
                                                <td class="force-col" style="padding-top: 8px; padding-bottom: 8px; background: #000000">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border:none;border-left:0px;border-right:0px;" class="col-3">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="http://www.oxfordporcelanas.com.br"><img border="0" width="auto" style="border:none;border-left:0px;border-right:0px;" alt="{{_accountInfo.TradingName}}" src="http://www.oxfordporcelanas.com.br/arquivos/header__logo--email.jpg" class="img-logo"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="force-col">
                                                    <!-- ### BEGIN CONTENT ### -->
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="left" style="padding-bottom: 0; margin-bottom: 0;padding-top: 30px;" class="col-3">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left">
                                                                    <div style="color: #7F7F7F; font-size: 20px; font-family: sans-serif; font-weight: bold;">Informamos que foi solicitado um cancelamento</div>
                                                                    <span style="font-size: 16px; color: #BBB; display: inline-block;">compra realizada o dia: {{formatDate transaction.creationDate}}</span><br />
                                                                    <br />
                                                                    <span style="font-size: 18px;">Olá,</span><br>
                                                                    <div style="padding-top: 3px; padding-bottom: 0px;"><strong>É necessário revisar o pagamento no integrador, precisa cancelar o pagamento manualmente</strong></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top: 5px; padding-bottom: 5px;"></td>
                                                            </tr>
                                                            <td></td>
                                                        </tbody>
                                                    </table>
                                                    <table width="100%" cellspacing="0" border="0" style="border-bottom: 1px solid #333; border: 1px solid #BBB; box-shadow: 1px 1px 2px rgba(0,0,0,.4);">

                                                        <tbody>
                                                            <tr>
                                                                <td style="background-color: #f9f9f9; padding-left: 10px;">
                                                                    <table align="left" style="padding-bottom: 0px; padding-top: 10px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Sequência no Gateway nº <span style="font-size: 22px; display: inline-block;">{{transaction.sequence}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="background-color: #f9f9f9; padding-left: 10px;">
                                                                    <table style="padding-bottom: 0px; padding-top: 5px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="status" style="vertical-align: top; display: inline-block; padding-right: 5px; padding-bottom: 10px; padding-top: 0px;">
                                                                                        <strong style="vertical-align: top; font-size: 16px; color: #BBB;">&#10003;</strong>
                                                                                        <div style="display: inline-block; line-height: 16px; font-size: 10px; color: #BBB; padding-left: 3px; width: 100px;">
                                                                                            <strong style="font-size: 14px;">PAGAMENTO AUTORIZADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                     <div class="status" style="vertical-align: top; vertical-align: top; display: inline-block; padding-right: 5px; padding-bottom: 10px; padding-top: 0px;">
                                                                                        <strong style="vertical-align: top; font-size: 16px; color: #51BC00;">&#10003;</strong>
                                                                                        <div style="display: inline-block; line-height: 16px; font-size: 10px; color: #51BC00; padding-left: 3px; width: 120px;">
                                                                                            <strong style="font-size: 14px;">CANCELAMENTO SOLICITADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="status" style="vertical-align: top; display: inline-block; padding-right: 5px; padding-bottom: 10px; padding-top: 0px;">
                                                                                        <strong style="vertical-align: top; font-size: 16px; color: #BBB;">&#10003;</strong>
                                                                                        <div style="display: inline-block; line-height: 16px; font-size: 10px; color: #BBB; padding-left: 3px; width: 100px;">
                                                                                            <strong style="font-size: 14px;">PAGAMENTO CAPTURADO</strong>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="status" style="vertical-align: top; display: inline-block; padding-right: 5px; padding-bottom: 10px; padding-top: 0px;">
                                                                                        <strong style="vertical-align: top; font-size: 16px; color: #BBB;">&#10003;</strong>
                                                                                        <div style="display: inline-block; line-height: 16px; font-size: 10px; color: #BBB; padding-left: 3px; width: 100px;">
                                                                                            <strong style="font-size: 14px;">PAGAMENTO FINALIZADO</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-bottom: 0;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>

                                                </td>
                                            </tr>

                                             <tr>
                                                <td class="force-col">
                                                    <!-- ### BEGIN CONTENT ### -->
                                                    <table width="100%" cellspacing="0" border="0" style="border-bottom: 1px solid #333; border: 1px solid #BBB; box-shadow: 1px 1px 2px rgba(0,0,0,.4);">

                                                        <tbody>
                                                            <tr>
                                                                <td style="background-color: #f9f9f9; padding-left: 10px;">
                                                                    <table align="left" style="padding-bottom: 0px; padding-top: 10px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Valor Cancelamento Solicitado  : <span style="font-size: 22px; display: inline-block;">R$ {{formatCurrency payment.actionValue}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Integrador : <span style="font-size: 14px; display: inline-block;">{{payment.acquirer}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Método : <span style="font-size: 14px; display: inline-block;">{{payment.name}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                               <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Tid - Nosso Número  : <span style="font-size: 14px; display: inline-block;">{{payment.tid}}  {{payment.ourNumber}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                             <tr>
                                                                                <td>
                                                                                    <div>
                                                                                        <strong style="font-size: 14px;">Valor Total Pagamento  : <span style="font-size: 14px; display: inline-block;">R$ {{formatCurrency payment.value}}</span></strong>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-bottom: 0;"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                </td>
                                            </tr>

                                             <tr>
                                                <td>

                                                </td>
                                            </tr>
                                             <tr>
                                                <td>
                                                     <strong style="font-size: 14px;"><span style="font-size: 22px; display: inline-block;">Itens no carrinho da compra</span></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom: 0;">{{#each items}}
                                                        {{#if name}}
                                                            <table width="100%" style="border-top: 1px solid #EEE; padding-top: 5px; padding-bottom: 5px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding-left: 10px;">
                                                                            <table cellpadding="10" align="left" style="padding-top: 5px;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="padding-left: 0; padding-bottom: 0; padding-top: 0;font-size: 14px;">
                                                                                            <span>{{name}}</span><br>
                                                                                            <br>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table cellpadding="5" align="right" style="padding-top: 5px;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="padding-left: 0; padding-bottom: 0; padding-top: 0;font-size: 14px;">
                                                                                            <span>R$ {{formatCurrency value}}</span><br>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                    {{/if}}
                                                    {{/each}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Atenciosamente,</strong><br>
                                                    <strong>Equipe VTEX</strong>.<br>
                                                    <br>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="background: #000000; color: #ffffff; padding-top:25px; padding-bottom:25px;">
                                                    <table class="footer" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="footer__contact" align="center">
                                                                <table align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">ATENDIMENTO</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                                (47) 3631-3003
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                                De segunda à quinta das 7h30 as 17h30 <br/>
                                                                                Sexta das 7h30 as 16h30
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td class="footer__social" style="text-align: center;">
                                                                <table align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">SIAGA-NOS NAS REDES SOCIAIS</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" align="center" style="text-align: center;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="https://www.facebook.com/OxfordPorcelanas/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--facebook--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://www.instagram.com/oxfordporcelanas/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--instagram--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://br.pinterest.com/oxfordporcelana/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--pinterest--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://www.youtube.com/user/oxfordporcelanas">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--youtube--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
