<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <title>{{_accountInfo.TradingName}}</title>
    <style type="text/css">
        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {padding:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}

        .footer td {
            vertical-align: top;
        }

        .footer__contact,
        .footer__social {
            width: 50%;
        }

        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 100% !important;
            }
        }
        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            .status{padding-bottom:0px;}

            .footer__contact,
            .footer__social {
                width: 100% !important;
                display: inline-block;
                text-align: center;
            }

            .footer__contact {
                padding-bottom: 30px;
            }
        }
        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {
            /* force container columns to (horizontal) blocks */
            .container{border-radius:0 !important;}
            .no-padding-top-bottom-mobile{padding-top:0;padding-bottom:0;padding:0 !important;}
            .img-product{width:70px;}
            .side-border td{padding-left:0;}
            .button{padding:11px 0 !important;font-size:13px;width:100%;}
            .table-button{width:100% !important;}
            td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
                /* change left/right padding and margins to top/bottom ones */
            }
            /* remove bottom border for last column/row */
            table[id="last-col-3"] {
                border-bottom: none !important;
            }
            /* align images right and shrink them a bit */
            img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
        }
        @media only screen and (max-width : 800px) {
            .status{width:100% !important;}
            .status div{width:200px !important;}
        }
    </style>
</head>
<body marginwidth="0" marginheight="0" bgcolor="#fff" style="padding:0px 0px;color:#333;" leftmargin="0" topmargin="0">
<!-- 100% wrapper (grey background) -->
    <table width="100%" cellspacing="0" border="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td valign="top" bgcolor="#fff" align="center" class="no-padding-top-bottom-mobile" style="background-color: #fff;color:#333;">
                    <!-- 600px container (white background) -->
                    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#fff" class="container" style="max-width:600px;">
                        <tbody>
                            <tr>
                                <td bgcolor="#ffffff" align="left" class="container-padding" style="background-color: #ffffff; padding-left: 10px; padding-right: 3px; font-size: 13px; line-height: 19px; font-family: Helvetica, sans-serif; color: #333;">
                                    <br />
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="columns-container">
                                        <tbody>
                                            <tr>
                                                <td class="force-col" style="padding-top: 8px; padding-bottom: 8px; background: #000000">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border:none;border-left:0px;border-right:0px;" class="col-3">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="http://www.oxfordporcelanas.com.br"><img border="0" width="auto" style="border:none;border-left:0px;border-right:0px;" alt="{{_accountInfo.TradingName}}" src="http://www.oxfordporcelanas.com.br/arquivos/header__logo--email.jpg" class="img-logo"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="force-col">
                                                    <!-- ### BEGIN CONTENT ### -->
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="left" style="padding-bottom:0;margin-bottom:0;padding-top: 20px;" class="col-3">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left">
                                                                    <br />
                                                                    <p>Olá, <strong>{{to.0.name}}</strong>.</p>
                                                                    <p>Precisamos da sua confirmação para liberar a página que você está tentando acessar.</p>
                                                                    <p>Retorne à página e digite o código:</p>
                                                                    <div style='background: #d9edf7; border: 1px solid #bce8f1; color: #3a87ad;text-align:center;font-size:42px;padding:20px;'><strong>{{aditionalData.accessKey}}</strong> </div>
                                                                    <br />
                                                                      <p>
                                                                    <strong>Este é um procedimento 100% seguro.</strong>
                                                                    </p>
                                                                    <br />
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Atenciosamente,</strong><br>
                                                                    <strong>Equipe {{_accountInfo.TradingName}}</strong>.<br><br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                            </tr>

                                            <tr>
                                                <td style="background: #000000; color: #ffffff; padding-top:25px; padding-bottom:25px;">
                                                    <table class="footer" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td class="footer__contact" align="center">
                                                                <table align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">ATENDIMENTO</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                                (47) 3631-3003
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 10px; color: #b6b6b6; text-align: center">
                                                                                De segunda à quinta das 7h30 as 17h30 <br/>
                                                                                Sexta das 7h30 as 16h30
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td class="footer__social" style="text-align: center;">
                                                                <table align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th style="font-size: 10px; color: #ffffff; padding-bottom: 6px;">SIAGA-NOS NAS REDES SOCIAIS</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" align="center" style="text-align: center;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="https://www.facebook.com/OxfordPorcelanas/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--facebook--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://www.instagram.com/oxfordporcelanas/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--instagram--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://br.pinterest.com/oxfordporcelana/">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--pinterest--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                <a href="https://www.youtube.com/user/oxfordporcelanas">
                                                                                                    <img src="http://www.oxfordporcelanas.com.br/arquivos/footer__social-icons--youtube--email.jpg">
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
<!--/600px container -->
<!--/100% wrapper-->
</body>
</html>
