<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 col-sm-3 col-md-2">
				<div class="newsletter__img">
					<img src="/arquivos/newsletter-img.png" class="img-responsive" />
				</div>
			</div>
			<div class="col-xs-7 col-sm-4 col-md-3">
				<div class="newsletter__title">
					<span class="newsletter__title__title-block">Assine nossa</span> <span class="newsletter__title__title">newsletter</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-3">
				<div class="newsletter__description">
					Fique por dentro das nossas <br/>
					dicas e novidades exclusivas!
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<form class="newsletter__form">
					<input class="newsletter__input--txt newsletter__email form-control" placeholder="Digite aqui seu e-mail" type="email" required="required" />
					<div class="newsletter__input--submit-wrap">
						<input class="newsletter__input--submit newsletter__submit btn btn-default--inverse" value="Cadastrar" type="submit" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-2 no-padding-right--xs">
					<!-- Menu -->
					<dl class="footer__menu">
						<dt class="footer__menu__title footer-title">Institucional</dt>
						<dd class="footer__menu__item"><a href="/institucional/quem-somos">Quem Somos</a></dd>
						<dd class="footer__menu__item"><a href="/institucional/nossos-negocios">Nossos Negócios</a></dd>
						<dd class="footer__menu__item"><a href="/institucional/nossa-historia">Nossa História</a></dd>
						<dd class="footer__menu__item"><a href="/institucional/design-e-tecnologia-com-sustentabilidade">Design e Tecnologia</a></dd>
						<dd class="footer__menu__item"><a href="/institucional/assessoria-de-imprensa">Assessoria de Imprensa</a></dd>
					</dl>
					<!-- /Menu -->
				</div>
				<div class="col-xs-6 col-sm-4 col-md-2 no-padding-left--xs">
					<!-- Menu -->
					<dl class="footer__menu">
						<dt class="footer__menu__title footer-title">Ajuda</dt>
						<dd class="footer__menu__item"><a href="/ajuda/politica-de-privacidade">Política de Privacidade</a></dd>
						<dd class="footer__menu__item"><a href="/ajuda/termos-de-uso">Termos de Uso</a></dd>
						<dd class="footer__menu__item"><a href="/ajuda/trocas-e-devolucoes">Trocas e Devoluções</a></dd>
						<dd class="footer__menu__item"><a href="/ajuda/formas-de-pagamento">Formas de Pagamento</a></dd>
						<dd class="footer__menu__item"><a href="/ajuda/compra-e-envio">Compra e Envio</a></dd>
						<dd class="footer__menu__item"><a href="/ajuda/perguntas-e-respostas">Perguntas e Respostas</a></dd>
						<dd class="footer__menu__item"><a href="/account">Meu Cadastro</a></dd>
					</dl>
					<!-- /Menu -->
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<!-- Contact -->
					<dl class="footer__menu">
						<dt class="footer__menu__title footer-title">Atendimento</dt>
						<dd class="footer__menu__item footer__menu__item--phone"><a href="tel:+5504736313003">(47) 3631-3003</a></dd>
						<dd class="footer__menu__item footer__menu__item--email"><a href="mailto:atendimento@oxfordporcelanas.com.br">atendimento@oxfordporcelanas.com.br</a></dd>
						<dd class="footer__menu__item footer__menu__item--hour">Seg./Qui. - 7h30 às 17h30</dd>
						<dd class="footer__menu__item footer__menu__item--hour">Sex. - 7h30 às 16h30</dd>
					</dl>
					<!-- /Contact -->
				</div>
				<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-2">
					<!-- Social -->
					<dl class="footer__social-icons">
						<dt class="footer__menu__title footer-title">Redes Sociais</dt>
						<dd class="footer__social-icons__item footer__social-icons__item--facebook"><a class="fa fa-facebook" href="https://www.facebook.com/OxfordPorcelanas/" target="_blank"></a></dd>
						<dd class="footer__social-icons__item footer__social-icons__item--instagram"><a class="fa fa-instagram" href="https://www.instagram.com/oxfordporcelanas/" target="_blank"></a></dd>
						<dd class="footer__social-icons__item footer__social-icons__item--pinterest"><a class="fa fa-pinterest" href="https://br.pinterest.com/oxfordporcelana/" target="_blank"></a></dd>
						<dd class="footer__social-icons__item footer__social-icons__item--youtube"><a class="fa fa-youtube" href="https://www.youtube.com/user/oxfordporcelanas" target="_blank"></a></dd>
					</dl>
					<!-- /Social -->
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<div class="footer__oxford-group">
						<a href="/grupo-oxford">
							<span class="footer__oxford-group__title-block">Conheça mais</span> <span class="footer__oxford-group__title">sobre o grupo</span>
							<img src="/arquivos/footer__oxford-group.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-3">
					<!-- Payment -->
					<dl class="footer__flags footer__payment">
						<dt class="footer__flags__title footer-title">Formas de pagamento</dt>
						<dd class="footer__flags__item footer__payment__item footer__payment__item--flags"></dd>
					</dl>
					<!-- /Payment -->
				</div>
				<div class="col-sm-3">
					<!-- Security -->
					<dl class="footer__flags footer__security">
						<dt class="footer__flags__title footer-title"></dt>
						<dd class="footer__flags__item footer__security__item footer__security__item--lets-encrypt"></dd>
					</dl>
					<!-- /Security -->
				</div>
				<div class="col-sm-12 col-md-3">
					<!-- Copyright -->
					<div class="footer__copyright">
						<span class="footer__copyright__txt">
							Oxford Porcelanas S/A  |  CNPJ: 86.046.463/0001-00 <br/>
							Rua Jorge Diener, 88 - Bairro Oxford - São Bento do Sul/SC
						</span>
					</div>
					<!-- /Copyright -->
				</div>
				<div class="col-sm-4 col-sm-push-8 col-md-push-0 col-md-3">
					<!-- Credits -->
					<ul class="footer__credits">
						<li class="footer__credits__item footer__credits__item--avanti">
							<a href="http://www.penseavanti.com.br" target="_blank" title="Evolution by Avanti!"></a>
						</li>
						<li class="footer__credits__item footer__credits__item--vtex">
							<a href="http://www.vtex.com" rel="nofollow" target="_blank" title="Powered by VTEX"></a>
						</li>
					</ul>
					<!-- /Credits -->
				</div>
			</div>
		</div>
	</div>
</footer>


