<header class="header header--fixed">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="navbar-header">
					<div class="header__logo navbar-brand">
						<a href="/"><img class="img-responsive" src="/arquivos/header__logo.jpg" /></a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<!-- Search -->
				<div class="header__search header__search--desktop navbar-form navbar-left search-control">
					<vtex.cmc:fullTextSearchBox/>
				</div>
				<!-- /Search -->
			</div>
			<div class="col-sm-4">
				<!-- Minicart Menu -->
				<a href="/checkout/#cart" class="minicart-menu"><span class="minicart-count">0</span></a>
				<!-- /Minicart Menu -->

				<a href="javascript:;" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					Menu
				</a>
			</div>
		</div>
	</div>
</header>

<header class="header">
	<div class="container">
		<div class="row hidden-xs hidden-sm">
			<div class="col-sm-6">
				<!-- Welcome Message -->
				<div class="header__welcome">
					<div class="hide">
						<vtex.cmc:welcomeMessage/>
					</div>
					<div class="header__welcome-login hide">
						Bem vindo, visitante! <a href="/login">Cadastre-se</a> ou <a href="/login">Faça login</a>
					</div>
					<div class="header__welcome-logout hide">
						Bem vindo, <span class="header__welcome-logout__name"></span><a href="/no-cache/user/logout">Não é você?</a>
					</div>
				</div>
				<!-- /Welcome Message -->
			</div>
			<div class="col-sm-6">
				<!-- Account Menu -->
				<ul class="menu-account pull-right">
					<li class="menu-account__item"><a href="/account">Minha conta</a></li>
					<li class="menu-account__item"><a href="/account/orders">Meus pedidos</a></li>
				</ul>
				<!-- /Account Menu -->
			</div>
		</div>

		<div class="header__z-index">
			<div class="row">
				<div class="col-xs-3 no-padding-left--xs no-padding-left--sm">
					<!-- Search -->
					<div class="header__search header__search--desktop navbar-form navbar-left search-control hidden-xs hidden-sm">
						<vtex.cmc:fullTextSearchBox/>
					</div>
					<!-- /Search -->

					<a href="javascript:;" class="visible-xs visible-sm navbar-toggle drop-toggle drop-close" data-target="drop-container--menu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				</div>
				<div class="col-xs-6 no-padding-left--xs">
					<!-- Logo -->
					<div class="navbar-header">
						<h1 class="header__logo navbar-brand">
							<a href="/"><img class="img-responsive" src="/arquivos/header__logo.jpg" /></a>
						</h1>
					</div>
					<!-- /Logo -->
				</div>
				<div class="col-xs-3 no-padding-left--xs">
					<!-- Minicart Menu -->
					<a href="/checkout/#cart" class="minicart-menu"><span class="minicart-count">0</span></a>
					<!-- /Minicart Menu -->
				</div>
			</div>
		</div>

		<div class="row visible-xs visible-sm">
			<div class="col-sm-12 no-padding-right--xs no-padding-left--xs no-padding-right--sm no-padding-left--sm">
				<!-- Search -->
				<div class="header__search header__search--desktop navbar-form navbar-left search-control">
					<vtex.cmc:fullTextSearchBox/>
				</div>
				<!-- /Search -->
			</div>
		</div>
	</div>

	<nav class="navbar navbar-inverse navbar--desktop hidden-xs hidden-sm">
		<div class="container static">
			<div class="row">
				<div class="col-sm-12 static">
					<!-- Main Menu -->
					<ul class="menu menu--desktop nav navbar-nav">
						<li class="menu__item menu__item--dropdown">
							<a href="/aparelhos-de-jantar">Aparelhos de jantar</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/aparelhos-de-jantar/coup">Coup</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/flamingo">Flamingo</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/floreal">Floreal</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/moon">Moon</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/aparelhos-de-jantar/nara">Nara</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/plateau">Plateau</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/quartier">Quartier</a></li>
										<li class="submenu__item"><a href="/aparelhos-de-jantar/soleil">Soleil</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentAparelhosDeJantar/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentAparelhosDeJantarTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/canecas">Canecas</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/canecas/easy">Easy</a></li>
										<li class="submenu__item"><a href="/canecas/fall">Fall</a></li>
										<li class="submenu__item"><a href="/canecas/joy">Joy</a></li>
										<li class="submenu__item"><a href="/canecas/quartier">Quartier</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/canecas/tematica">Temática</a></li>
										<li class="submenu__item"><a href="/canecas/tulipa">Tulipa</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentCanecas/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentCanecasTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/tigelas-e-travessas">Tigelas e travessas</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/tigelas-e-travessas/bowl">Bowl</a></li>
										<li class="submenu__item"><a href="/tigelas-e-travessas/fundas">Fundas</a></li>
										<li class="submenu__item"><a href="/tigelas-e-travessas/para-preparo">Para preparo</a></li>
										<li class="submenu__item"><a href="/tigelas-e-travessas/ramequin">Ramequin</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/tigelas-e-travessas/rasas">Rasas</a></li>
										<li class="submenu__item"><a href="/tigelas-e-travessas/refratarias">Refratárias</a></li>
										<li class="submenu__item"><a href="/tigelas-e-travessas/tigelas">Tigelas</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentTigelasTravessas/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentTigelasTravessasTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/tacas">Taças</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/tacas/agua">Água</a></li>
										<li class="submenu__item"><a href="/tacas/cerveja">Cerveja</a></li>
										<li class="submenu__item"><a href="/tacas/coquetel">Coquetel</a></li>
										<li class="submenu__item"><a href="/tacas/espumante">Espumante</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/tacas/licor">Licor</a></li>
										<li class="submenu__item"><a href="/tacas/sobremesa">Sobremesa</a></li>
										<li class="submenu__item"><a href="/tacas/vinho-branco">Vinho branco</a></li>
										<li class="submenu__item"><a href="/tacas/vinho-tinto">Vinho tinto</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/tacas/servico-completo">Serviço completo</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentTacas/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentTacasTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/copos">Copos</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/copos/agua">Água</a></li>
										<li class="submenu__item"><a href="/copos/cerveja">Cerveja</a></li>
										<li class="submenu__item"><a href="/copos/colorido">Colorido</a></li>
										<li class="submenu__item"><a href="/copos/destilado">Destilado</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/copos/suco">Suco</a></li>
										<li class="submenu__item"><a href="/copos/tematico">Temático</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentCopos/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentCoposTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/panelas">Panelas</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/panelas/conjunto">Conjunto</a></li>
										<li class="submenu__item"><a href="/panelas/avulso">Avulso</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentPanelas/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentPanelasTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/conjunto-de-cha-e-cafe">Conjunto de Chá e Café</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/conjunto-de-cha-e-cafe/conjuntos-de-cha">Conjuntos de chá</a></li>
										<li class="submenu__item"><a href="/conjunto-de-cha-e-cafe/conjuntos-de-cafe">Conjuntos de café</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentConjuntoDeChaCafe/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentConjuntoDeChaCafeTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/complementos">Complementos</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/complementos/conjuntos-de-pratos">Conjuntos de Pratos</a></li>
										<li class="submenu__item"><a href="/complementos/petisqueira">Petisqueira</a></li>
										<li class="submenu__item"><a href="/complementos/pratos-especiais">Pratos especiais</a></li>
										<li class="submenu__item"><a href="/complementos/saleiro">Saleiro</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/complementos/tematicos">Temáticos</a></li>
										<li class="submenu__item"><a href="/complementos/decanter">Decanter</a></li>
										<li class="submenu__item"><a href="/complementos/garrafa">Garrafa</a></li>
										<li class="submenu__item"><a href="/complementos/jarra">Jarra</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/complementos/moringa">Moringa</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentComplementos/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentComplementosTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
						<li class="menu__item menu__item--dropdown">
							<a href="/bar-hotel-e-restaurante">Bar, Hotel e Restaurante</a>
							<div class="submenu">
								<div class="submenu-inner">
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/complementos">Complementos</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/gourmet-com-aba">Gourmet com aba</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/gourmet-sem-aba">Gourmet sem aba</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/ramequins">Ramequins</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/travessas">Travessas</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/cerveja">Cerveja</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/coqueteis">Coqueteis</a></li>
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/destilados">Destilados</a></li>
									</ul>
									<ul class="submenu__section">
										<li class="submenu__item"><a href="/bar-hotel-e-restaurante/vinhos">Vinhos</a></li>
									</ul>
								</div>
								<div class="submenu-banner">
									<div class="submenu-banner__img">
										<vtex:submenuBannerDepartmentBarHotelRestaurante/>
									</div>
									<div class="submenu-banner__title">
										<span class="submenu-banner__title__title-block">Veja nosso</span> <span class="submenu-banner__title__title">Produto destaque</span>
									</div>
									<div class="submenu-banner__department">
										<vtex.cmc:submenuBannerDepartmentBarHotelRestauranteTitle />
									</div>
									<a class="btn btn-default btn--arrow" href="#">Confira</a>
								</div>
							</div>
						</li>
					</ul>
					<!-- /Main Menu -->
				</div>
			</div>
		</div>
	</nav>

	<!-- Drop Main Menu -->
	<div class="drop-container drop-container--scroll-top drop-container--menu">
	    <div class="drop-container__content">
	        <!-- Drop Scroll -->
	        <div class="drop-container__content__scroll">
				<!-- Main Menu -->
				<ul class="menu menu--mobile nav navbar-nav">
					<li class="menu__item menu__item--account">
						<a href="/account">Minha Conta</a>
					</li>
					<li class="menu__item menu__item--orders">
						<a href="/account/orders">Meus Pedidos</a>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/aparelhos-de-jantar">Aparelhos de jantar</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/aparelhos-de-jantar">Ver tudo</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/coup">Coup</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/flamingo">Flamingo</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/floreal">Floreal</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/moon">Moon</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/nara">Nara</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/plateau">Plateau</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/quartier">Quartier</a></li>
							<li class="submenu__item"><a href="/aparelhos-de-jantar/soleil">Soleil</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/canecas">Canecas</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/canecas">Ver tudo</a></li>
							<li class="submenu__item"><a href="/canecas/easy">Easy</a></li>
							<li class="submenu__item"><a href="/canecas/fall">Fall</a></li>
							<li class="submenu__item"><a href="/canecas/joy">Joy</a></li>
							<li class="submenu__item"><a href="/canecas/quartier">Quartier</a></li>
							<li class="submenu__item"><a href="/canecas/tematica">Temática</a></li>
							<li class="submenu__item"><a href="/canecas/tulipa">Tulipa</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/tigelas-e-travessas">Tigelas e travessas</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/tigelas-e-travessas">Ver tudo</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/bowl">Bowl</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/fundas">Fundas</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/para-preparo">Para preparo</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/ramequin">Ramequin</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/rasas">Rasas</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/refratarias">Refratárias</a></li>
							<li class="submenu__item"><a href="/tigelas-e-travessas/tigelas">Tigelas</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/tacas">Taças</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/tacas">Ver tudo</a></li>
							<li class="submenu__item"><a href="/tacas/agua">Água</a></li>
							<li class="submenu__item"><a href="/tacas/cerveja">Cerveja</a></li>
							<li class="submenu__item"><a href="/tacas/coquetel">Coquetel</a></li>
							<li class="submenu__item"><a href="/tacas/espumante">Espumante</a></li>
							<li class="submenu__item"><a href="/tacas/licor">Licor</a></li>
							<li class="submenu__item"><a href="/tacas/sobremesa">Sobremesa</a></li>
							<li class="submenu__item"><a href="/tacas/vinho-branco">Vinho branco</a></li>
							<li class="submenu__item"><a href="/tacas/vinho-tinto">Vinho tinto</a></li>
							<li class="submenu__item"><a href="/tacas/servico-completo">Serviço completo</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/copos">Copos</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/copos">Ver tudo</a></li>
							<li class="submenu__item"><a href="/copos/agua">Água</a></li>
							<li class="submenu__item"><a href="/copos/cerveja">Cerveja</a></li>
							<li class="submenu__item"><a href="/copos/colorido">Colorido</a></li>
							<li class="submenu__item"><a href="/copos/destilado">Destilado</a></li>
							<li class="submenu__item"><a href="/copos/suco">Suco</a></li>
							<li class="submenu__item"><a href="/copos/tematico">Temático</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/panelas">Panelas</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/panelas">Ver tudo</a></li>
							<li class="submenu__item"><a href="/panelas/conjunto">Conjunto</a></li>
							<li class="submenu__item"><a href="/panelas/avulso">Avulso</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/conjunto-de-cha-e-cafe">Conjunto de Chá e Café</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/conjunto-de-cha-e-cafe">Ver tudo</a></li>
							<li class="submenu__item"><a href="/conjunto-de-cha-e-cafe/conjuntos-de-cafe">Conjuntos de café</a></li>
							<li class="submenu__item"><a href="/conjunto-de-cha-e-cafe/conjuntos-de-cha">Conjuntos de chá</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/complementos">Complementos</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/complementos">Ver tudo</a></li>
							<li class="submenu__item"><a href="/complementos/conjuntos-de-pratos">Conjuntos de Pratos</a></li>
							<li class="submenu__item"><a href="/complementos/petisqueira">Petisqueira</a></li>
							<li class="submenu__item"><a href="/complementos/pratos-especiais">Pratos especiais</a></li>
							<li class="submenu__item"><a href="/complementos/saleiro">Saleiro</a></li>
							<li class="submenu__item"><a href="/complementos/tematicos">Temáticos</a></li>
							<li class="submenu__item"><a href="/complementos/decanter">Decanter</a></li>
							<li class="submenu__item"><a href="/complementos/garrafa">Garrafa</a></li>
							<li class="submenu__item"><a href="/complementos/jarra">Jarra</a></li>
							<li class="submenu__item"><a href="/complementos/moringa">Moringa</a></li>
						</ul>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="/bar-hotel-e-restaurante">Bar, Hotel e Restaurante</a>
						<ul class="submenu">
							<li class="submenu__item submenu__item--show-all"><a href="/bar-hotel-e-restaurante">Ver tudo</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/complementos">Complementos</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/gourmet-com-aba">Gourmet com aba</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/gourmet-sem-aba">Gourmet sem aba</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/ramequins">Ramequins</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/travessas">Travessas</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/cerveja">Cerveja</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/coqueteis">Coqueteis</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/destilados">Destilados</a></li>
							<li class="submenu__item"><a href="/bar-hotel-e-restaurante/vinhos">Vinhos</a></li>
						</ul>
					</li>
				</ul>
				<!-- /Main Menu -->
	        </div>
	        <!-- Drop Scroll -->

	    </div>
	</div>
	<!-- /Drop Main Menu -->
</header>