<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="/arquivos/favicon.ico" rel="icon" type="image/x-icon" />

<link rel="apple-touch-icon" sizes="57x57" href="/arquivos/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/arquivos/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/arquivos/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/arquivos/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/arquivos/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/arquivos/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/arquivos/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/arquivos/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/arquivos/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192"  href="/arquivos/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/arquivos/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/arquivos/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/arquivos/favicon-16x16.png" />

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/arquivos/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />