#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)
<div class="shelf__related-product-item" data-product-id="$product.Id">
    <a class="related-product-item__img" title="$escapedName" href="$uri">
       $product.GetImageTag(100,100)
    </a>
</div>