#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)
<div class="shelf__product-item" data-product-id="$product.Id">
    <a class="product-item__img" title="$escapedName" href="$uri">
       $product.GetImageTag(500,500)

        <div class="product-item__flags">
            $product.HightLight
            $product.DiscountHightLight
        </div>
    </a>

    <div class="product-item__info">
        <div class="product-item__related-products"></div>

        <h3 class="product-item__title"><a title="$escapedName" href="$uri">$product.Name</a></h3>

        #if ($product.IsInStock)
            <div class="product-item__price">
                <div class="product-item__list-price">
                    #if ($product.HasBestPrice)
                        $product.ListPrice
                    #end
                </div>

                <div class="product-item__best-price">$product.BestPrice</div>

                #if ($product.NumbersOfInstallment > 1)
                    <div class="product-item__price__installments">
                        <div class="product-item__price__installments--installment"><span>${product.NumbersOfInstallment}x</span> de <span>$product.InstallmentValue</span></div> sem juros
                    </div>
                #end
            </div>

            <div class="product-item__buy-button">
                <a class="btn" title="$escapedName" href="$uri">Mais Detalhes</a>
            </div>
        #else
            <span class="product-item__no-stock">Produto Esgotado</span>
        #end
    </div>
</div>